<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Artifacts</h1>
                        <div id="product_backlog" class="wiki-content group">
                            <h2>Product Backlog</h2>
                            <p><span>A living document that is the plan for future sprints. It is
                                </span><strong>open</strong><span> to change and continually being evolved for the
                                    entire life of the product. </span></p>
                            <p></p>
                            <p><span>In Scrum <strong>the Product Owner has final say in the order of the
                                        Backlog.</strong></span></p>
                            <p></p>
                            <p>I would recommend reading through the page on <a
                                    href="/scrum/events#refinement">Product Backlog Refinement</a> and
                                the Scrum.org resources for <a
                                    href="https://www.scrum.org/pathway/product-owner-learning-path/managing-products-with-agility/product-value"
                                    class="external-link" rel="nofollow">Product Value</a> on tips and tricks to getting
                                the most value into the product you are working on</p>
                        </div>
                        <div id="product_increment" class="wiki-content group">
                            <h2>Product Increment</h2>
                            <p><span>The product increment is the summation of all changes made in the current sprint on
                                    top of all past increments</span></p>
                            <p>Work cannot be a part of the increment unless it meets the <a href="/scrum/tools/done">definition of done</a>. The increment does not need to be released but it should be inspected during the Sprint Review.</p>
                        </div>
                        <div id="sprint_backlog" class="wiki-content group">
                            <h2>Sprint Backlog</h2>
                            <h4 id="SprintBacklog"><span>A living document that is the plan for the current
                                    sprint.</span></h4>
                            <p>The sprint goal, the product backlog items selected and the plan for delivering them are all part of the sprint backlog</p>
                            <p><span>The Sprint Backlog </span><strong><em>may</em></strong><span> include at least one
                                    high-priority process improvement as identified in the previous sprint retrospective
                                    (</span><strong>inspection</strong><span> without
                                </span><strong>adaptation</strong><span> is pointless)</span></p> 
                        </div>
                    </div>
                </div>

        </section>
    </main>             
</body>

</html>