<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Events</h1>
                        <div id="sprint">
                            <h2>The Sprint</h2>
                            <p class="lead">"The heartbeat of Scrum, where ideas are turned into value"</p>
                            <p>In Scrum, the Sprint acts as a container for all the other events. Scrum recommends
                                keeping your sprint to a month or less for multiple reasons:</p>
                            <ul>
                                <li>Less Risk</li>
                                <li>More frequent feedback/inspection</li>
                                <li>Ease in pivoting goals</li>
                                <li>More frequent delivery of value (an increment)</li>
                                <li>Decrease complexity of work</li>
                            </ul>
                            <p>A new sprint should start immediately after the conclusion of the previous sprint</p>
                            <p>During the sprint it is critical that: </p>
                            <ul>
                                <li>No changes are made that would endanger the sprint goal</li>
                                <li>Quality does not decrease</li>
                                <li>The backlog is refined as needed</li>
                                <li>Scope may be clarified and re-negotiated between the PO and developers as more is
                                    learned</li>
                            </ul>
                            <p>A sprint can only be cancelled by the PO in the case the the sprint goal becomes
                                obsolete.</p>

                            <h3>Sprint goal</h3>
                            <p>"The elevator pitch for the Sprint." The main focus of why and what we are doing. By
                                setting the goal we enable the developers to have something to measure their success and
                                progress against.</p>
                        </div>
                        <div id="standup">
                            <h2>Daily Scrum</h2>
                            <p><span>A 15 minute meeting to build the plan for the next 24 hours</span></p>
                            <ul>
                                <li><span>Promotes self-organization</span></li>
                                <li><span>Creates </span><strong>focus</strong><span> and reduces waste</span></li>
                                <li><span>Promotes </span><strong>transparency</strong><span> and a shared understanding
                                        of progress of </span><span>valuable</span><span> outcomes</span></li>
                            </ul>
                            <p><br /></p>
                            <p><span>At the end every team member should understand progress toward the sprint goal, the
                                    current plan, the likelihood of achieving it and the plans for the
                                    next</span><em><span> 24 hours</span></em></p>
                        </div>
                        <div id="review">
                            <h2>Sprint Review</h2>
                            <p><span>The result of a Sprint Review should be an </span><strong>adapted</strong><span>
                                    Product Backlog that better follows the feedback of stakeholders, the market trends,
                                    actual </span><span>value</span><span> data and trends.</span></p>
                            <h4>
                                <strong>***A sprint review can include a demo but a demo is not a replacement for the
                                    sprint review***</strong></h4>
                            <p><br /></p>
                            <h3 id="SprintReview-Tips"><span>Tips</span></h3>
                            <ul>
                                <li><span>Be explicit about what you are requesting feedback on</span></li>
                                <li><span>Make feedback sessions interactive, encourage participation</span></li>
                                <li><span>Enable inter-stakeholder </span><strong>collaboration</strong></li>
                                <li><span>Make </span><strong>collaboration</strong><span> visible</span></li>
                                <li><span>Break-out sessions</span></li>
                            </ul>
                            <p><span>Introduce relative </span><span>value</span><span> comparison techniques</span></p>
                        </div>
                        <div id="planning">
                            <h2>Sprint Planning</h2>
                            <p><span>You cannot perfectly plan for complex work but you can be
                                </span><strong>open</strong><span> to change</span></p>
                            <h3 id="SprintPlanning-Threequestions"><span>Three questions</span></h3>
                            <ol>
                                <li><span>What is the right work to </span><strong>focus </strong><span>on this Sprint,
                                        how well do we understand the work?</span></li>
                                <li><span>How much can we get “Done” in a Sprint?</span></li>
                                <ol>
                                    <li><span>Should at some point be intuitive</span></li>
                                    <li><span>Challenges</span></li>
                                    <ol>
                                        <li><span>Frequent change in team composition</span></li>
                                        <li><span>Lack of </span><strong>collaboration</strong></li>
                                        <li><span>Frequent change in Sprint length</span></li>
                                        <li><span>Team members being split across teams or pulled away</span></li>
                                        <li><span>Frequent Interruptions that lead to context switching</span></li>
                                        <li><span>Partially done work at the end of a Sprint</span></li>
                                    </ol>
                                </ol>
                                <li>How will the chosen work get done?</li>
                                <li><span>How much time do we have to spend improving how we work this Sprint?</span>
                                </li>
                            </ol>
                            <h3 id="SprintPlanning-To-Do"><span>To-Do</span></h3>
                            <ul>
                                <li><span>Establish a common set of understandings from when emergence,
                                    </span><strong>adaptation</strong><span>, and
                                    </span><strong>collaboration</strong><span> can occur </span></li>
                                <li><span>Establish expectations the progress will be measured against</span></li>
                                <li><span>Convince a source of funding that the ROI of an initiative is
                                        worthwhile</span></li>
                                <li><span>Help people involved in the </span><span>value</span><span> delivery make
                                        better decisions</span></li>
                            </ul>
                            <h3 id="SprintPlanning-Aims"><span>Aims</span></h3>
                            <ul>
                                <li><span>Enable </span><strong>transparency</strong><span> to progress</span></li>
                                <li><span>Set realistic expectations</span></li>
                                <li><span>Minimize waste while maximizing </span><span>value</span></li>
                                <li><span>Harness change and new learnings for a competitive advantage</span></li>
                                <li><span>Have </span><strong>open</strong><span> and honest discussions about the
                                        unpredictability and complexity inherent in product development</span></li>
                            </ul>
                            <h3 id="SprintPlanning-PlanningwithaProductMindset"><span>Planning with a Product
                                    Mindset</span></h3>
                            <p><strong>Focus</strong><span> on </span><span>valuable</span><span> outcomes over quantity
                                    of output</span></p>
                            <p><span>Typical projects are measured on delivery of the full scope, on budget and on time,
                                    aka the Iron triangle, project management triangle or triple constraint. This
                                    however leaves out </span><span>value</span><span>. Even if we delivered on time and
                                    on budget, was the project actually worthwhile? </span></p>
                            <p><span>The moment we start to measure ROI it is too late to determine
                                </span><span>value</span><span>.</span></p>
                            <p><span>We can only plan with what we know
                                    (</span><strong>empirically</strong><span>)</span></p>
                            <ul>
                                <li><span>How much do we waste with change control?</span></li>
                                <li><span>What is lost or delayed when we feel the burden of a heavy change?</span></li>
                            </ul>
                            <p><br /></p>
                            <p><span>Empiricism Reduces Uncertainty by taking action, not by planning more</span></p>
                            <p><em><span>Minimum Viable Product</span></em><span> - the minimally usable version of the
                                    product</span></p>
                            <p><em><span>Cone of Uncertainty</span></em><span> - the reduction in uncertainty of
                                    outcomes as an organization gathers more information</span></p>
                            <h3 id="SprintPlanning-CreatingAlignment"><span>Creating Alignment</span></h3>
                            <p><span>Planning is only effective when there is alignment to
                                </span><span>value</span><span> delivery in the organization</span></p>
                            <p><span>We can create alignment through refinement, the product vision, goals and the
                                    product backlog</span></p>
                            <h3 id="SprintPlanning-Sprintlength&lt;1month"><span>Sprint length &lt; 1 month</span></h3>
                            <p><span>A Sprint should be as short as possible and no shorter</span></p>
                            <ol>
                                <li><span>How Quickly does the business need to change direction?</span></li>
                            </ol>
                            <p><span>How quickly can the development team create a “Done” increment?</span></p>
                        </div>
                        <div id="retrospective">
                            <h2>Sprint Retrospective</h2>
                            <blockquote>
                                <p><span>&quot;What motivates us to change and the changes we select to improve
                                        upon?&quot;</span></p>
                            </blockquote>
                            <p><span>A set time to reflect and focus on what we can do to improve the over scrum process
                                    and communication practices. This meeting should take no longer than 3 hours for
                                    month long sprints and shorter for sprints shorter than that. We should use this
                                    time to reflect on individuals, interactions, processes, tools and our DoD.</span>
                            </p>
                            <ul>
                                <li><span>Are we getting to “Done” consistently?</span></li>
                                <li><span>Are our customers and stakeholders happy with the value being
                                        delivered?</span></li>
                                <li><span>How effectively is the PO working with the developers?</span></li>
                                <li><span>How effectively is the Scrum Team at working with stakeholders?</span></li>
                            </ul>
                            <p><br /></p>
                            <p><span>Possible improvements should not only be visible in the retrospective but can be
                                    identified through feedback and impediments surfaced throughout the Sprint</span>
                            </p>
                            <ul>
                                <li><span>What went well?</span></li>
                                <li><span>What could be improved?</span></li>
                            </ul>
                            <p><br /></p>
                            <p><span>“True self-reflection means being vulnerable, confronting limitations, and
                                    stretching to see other perspectives”</span></p>
                            <h3 id="SprintRetrospective-Tipsforcollaboration"><span>Tips for collaboration</span></h3>
                            <ul>
                                <li><span>Use silence</span></li>
                                <li><span>Use different group configurations</span></li>
                                <li><span>Get people moving and taking action</span></li>
                                <li><span>Shake things up</span></li>
                                <ul>
                                    <li><span>Try new retro methods</span></li>
                                </ul>
                                <li><span>Have a flexible plan for the retro</span></li>
                            </ul>
                            <h3 id="SprintRetrospective-ForceFieldAnalysis"><span>Force Field Analysis</span></h3>
                            <p><span>A basic tool for root cause analysis that can help you take action once the root
                                    cause has been identified. The technique is based on the assumption that any
                                    situation is the result of forces for and against the current state being in
                                    equilibrium. Countering the opposing forces and/or increasing the favorable forces
                                    will help induce a change by reinforcing positives and eliminating or reducing
                                    negatives.</span></p>
                        </div>
                        <div id="refinement">
                            <h2>Product Backlog Refinement</h2>
                            <p><span>An activity that can be used to create alignment on Product Backlog Items or PBIs.
                                    This is not a formal Scrum Event because refinement can happen at any time and therefore is not an "event". </span>
                            </p>
                            <p><span>We should only refine “just enough”.</span></p>
                            <p><br /></p>
                            <p><em><span>Product Backlog Items(PBI)</span></em><span> - is a single element of work that
                                    exists in the product backlog. PBIs can include user stories, epics, specifications,
                                    bugs, or change requirements. In Docent, these are typically Task, Story and Bug
                                    tickets in JIRA</span></p>
                            <p><em><span>Definition of ready</span></em><span> - a list of things that can help guide
                                    the creation and iteration of PBIs. This should NOT be treated the same as a DoD.
                                    They are guidelines and not requirements.</span></p>
                            <h3 id="ProductBacklogRefinement-MVPBacklogrefinementrequireonlythefollowing:"><span>MVP
                                    Backlog refinement require only the following:</span></h3>
                            <ul>
                                <li><span>Description</span></li>
                                <li><span>Order</span></li>
                                <li><span>Estimate</span></li>
                                <li><span>Value</span></li>
                            </ul>
                            <h3 id="ProductBacklogRefinement-Benefitsofrefinement"><span>Benefits of refinement</span>
                            </h3>
                            <ul>
                                <li><span>Increased </span><strong>Transparency</strong></li>
                                <li><span>Clarification of </span><span>Value</span></li>
                                <li><span>Breaking things down in to consumable pieces</span></li>
                                <li><span>Reduction of dependencies</span></li>
                                <li><span>Forecasting</span></li>
                                <li><span>Incorporation of learning</span></li>
                            </ul>
                            <h3 id="ProductBacklogRefinement-BuildingUnderstanding"><span>Building Understanding</span>
                            </h3>
                            <p><strong>Hypothesis Canvas</strong></p>
                            <p><span>&quot;We believe we make progress towards the [product goal] when [users] achieve
                                    the [outcome] with [feature].&quot;</span></p>
                            <p><strong>UX Fishbowl</strong></p>
                            <p><span>A UX Fishbowl consists of two groups and two steps, one group being the
                                    stakeholders and one being the Scrum Team. The steps are done in a sequence and as
                                    many times as needed.</span></p>
                            <ol>
                                <li><span>Stakeholders are invited to discuss the questions. &quot;Imagine this feature
                                        was already part of the product. How, when, and why would you use it? What steps
                                        are involved? What makes it useful to you? What might deter you?&quot; The Scrum
                                        Team listens carefully and notes essential insights.</span></li>
                                <li><span>The Scrum Team comes together and formulates follow-up questions based on what
                                        they heard. These questions serve as questions for the next round.</span></li>
                            </ol>
                            <p><span><br /></span></p>
                            <h3 id="ProductBacklogRefinement-OrderingtheBacklog"><span>Ordering the Backlog</span></h3>
                            <p><strong>Buy a Feature</strong></p>
                            <ol>
                                <li><span>Product Backlog items that can be bought are priced and listed.</span></li>
                                <li><span>Money is divided equally among the stakeholders.</span></li>
                                <li><span>Stakeholders buy Product Backlog items that are most important to them. Each
                                        item can only be bought once. Stakeholders can combine their money when
                                        purchasing.</span></li>
                                <li><span>When all money is spent, the bought items in the list reflect the collectively
                                        important items to the stakeholders. </span></li>
                            </ol>
                            <p><strong>20/20 Vision</strong><span> </span></p>
                            <ol>
                                <li><span>Each item of the Product Backlog is a separate card.</span></li>
                                <li><span>Cards are shuffled and a face-down pile is formed.</span></li>
                                <li><span>The top card is used as a reference and is placed upside down next to the
                                        pile.</span></li>
                                <li><span>After revealing the next card, stakeholders decide whether it is more or less
                                        important to them and place it above or below the reference card
                                        accordingly.</span></li>
                                <li><span>The process of grouping the remaining cards into the new list is repeated
                                        until the last card in the pile. A 20/20 vision of the order of the Product
                                        Backlog is created, which shows what is important to stakeholders. </span></li>
                            </ol>
                            <h3 id="ProductBacklogRefinement-Estimation"><span>Estimation</span></h3>
                            <p><span>A guess made on the best information available about the size effort and complexity
                                    of a PBI</span></p>
                            <p><span>You should assume every estimate might be wrong. If you expect accuracy that can
                                    lead to inflated estimates, gaming of numbers, or cutting corners to meet an
                                    estimate</span></p>
                            <p><span>Anti-Patterns: Anchoring, Analysis Paralysis…</span></p>
                            <h3 id="ProductBacklogRefinement-Techniques"><span>Techniques</span></h3>
                            <ul>
                                <li><span>Story points</span></li>
                                <ul>
                                    <li><span>1,2,3,5,8,13…</span></li>
                                </ul>
                                <li><span>T-Shirting</span></li>
                                <ul>
                                    <li><span>X-Small, Small, Medium, Large, X-Large</span></li>
                                </ul>
                                <li><span>Animal/Fruits</span></li>
                                <ul>
                                    <li><span>Lime, grapefruit, cantaloupe, watermelon,...</span></li>
                                </ul>
                                <li><span>Same-size</span></li>
                                <ul>
                                    <li><span>Every ticket is roughly the same size of work</span></li>
                                </ul>
                                <li><span>Right size</span></li>
                                <ul>
                                    <li><span>Everything is broken down into a ticket that can be delivered within a
                                            sprint</span></li>
                                </ul>
                            </ul>
                            <h3 id="ProductBacklogRefinement-BreakingDownPBIs"><span>Breaking Down PBIs</span></h3>
                            <p><span>When breaking down PBIs we must not only </span><strong>focus</strong><span> on
                                    getting the ticket to be small enough for down but also that the increment will be
                                </span><span>valuable</span></p>
                            <p><span>The full team must have a shared understanding of the desired outcomes in able to
                                    build the right thing</span></p>
                            <ul>
                                <li><span>Gives more flexibility to the product owner</span></li>
                                <li><span>Stakeholders gain more </span><strong>transparency</strong></li>
                            </ul>
                            <p><span><br /></span></p>
                            <p><strong>Happy vs Unhappy paths</strong></p>
                            <p><span>The happy path describes how the functionality will behave if everything goes as
                                    desired. If there are deviations, exceptions, or other problems, unhappy paths are
                                    invoked.</span></p>
                        </div>
                        <div id="release">
                            <h2>Sprint Release</h2>
                            <p><strong>This is not a formal Scrum Event</strong> but Scrum does have suggestions and
                                recommendations for Releases</p>
                            <p><br /></p>
                            <blockquote>
                                <p><span>“The way to delight [...clients…] is to either preempt or cultivate the desire
                                        for a feature, or be exceptionally responsive”</span></p>
                            </blockquote>
                            <p><span>You do not need to release at the end of a sprint and therefore it is not a formal
                                    sprint event. An increment is not a prod release and should be viewable outside of
                                    production</span></p>
                            <p><span>Each product with have an ideal </span><span>release frequency that reflects risk
                                    and cost of change</span></p>
                            <p><span>Release size should be weighed against the maximization of benefits and the
                                    reduction of waste</span></p>
                            <p><span>The smallest release size considered should be a new or improved outcome for a
                                    single persona</span></p>
                            <p><span>Releases and </span><a href="#review"><span>reviews</span></a><span> help increase
                                    feedback so it is important for the Product Owner to weigh risk alongside the need
                                    for good feedback. While the Review allows us to get feedback from stakeholders,
                                    some areas for improvement may only show after repeated use of an increment.</span>
                            </p>
                            <p>Delaying releases is a choice to delay value, this is called the <em>cost of delay</em>
                                and may have a financial implication</p>
                            <h2 id="Release-Build"><span>Build</span></h2>
                            <p><span>A build should be executed “Whenever new or modified code is pushed to the version
                                    control system.”</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>