<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Metrics</h1>
                        <div id="burndown" class="wiki-content group">
                            <h2>Burndown</h2>
                            <p>A graphical representation of work left to do versus time.</p>
                            <p><img src="../images/attachments/238191053/238191057.png" style="max-width: 30rem;"/>

                        </div>
                        <div id="burnup" class="wiki-content group">
                            <h2>Burnup</h2>
                            <p>A graphical representation  of the project progress over time</p>
                            <p><span class="confluence-embedded-file-wrapper confluence-embedded-manual-size"><img
                                        class="confluence-embedded-image confluence-external-resource"
                                        alt="Using Burn Up Charts for Transparent Project Management" height="400"
                                        src="https://spin.atomicobject.com/wp-content/uploads/20160211143526/burn-up_chart.png"
                                        data-image-src="https://spin.atomicobject.com/wp-content/uploads/20160211143526/burn-up_chart.png"></span>
                            </p>
                        </div>
                        <div id="forecasting" class="wiki-content group">
                            <h2>Probabilistic Forecasting</h2>
                            <p><span>An approach in which historical process data is used in conjunction with a
                                    statistical sampling method to make a prediction on when an item or items will be
                                    completed</span></p>
                            <p><span>This products a statement about the future with some level of confidence</span></p>
                            <p><br /></p>
                            <p><span>This article has a great comparison for this sort of predication estimation for
                                    business-minded individuals</span></p>
                            <p><span><a href="https://www.scrum.org/resources/blog/small-batch-delivery-big-batch-finance-how-speak-language-forecasting"
                                        class="external-link"
                                        rel="nofollow">https://www.scrum.org/resources/blog/small-batch-delivery-big-batch-finance-how-speak-language-forecasting</a></span>
                            </p>
                            <p><br /></p>
                            <p><span>I would also recommend reading up on the &quot;Cone of Uncertainty&quot; or the
                                    thought that early forecasting in a product lifecycle will be have more uncertainty
                                    than later down the road</span></p>
                            <p><span><span class="confluence-embedded-file-wrapper"><img
                                            class="confluence-embedded-image confluence-external-resource"
                                            src="https://tahoeninjas.blog/wp-content/uploads/2019/03/image-1552956067990.png"
                                            data-image-src="https://tahoeninjas.blog/wp-content/uploads/2019/03/image-1552956067990.png"></span></span>
                            </p>
                        </div>
                        <div id="velocity" class="wiki-content group">
                            <h2>Velocity</h2>
                            <p><span>Indicates the average amount of Product Backlog that can be turned into a “Done”
                                    Increment during a Sprint</span></p>
                            <p><span>It does NOT do the following</span></p>
                            <ul>
                                <li><span>Show performance</span></li>
                                <li><span>Promise Delivery in the future</span></li>
                                <li><span>Accurate comparison of Scrum Teams or Individuals</span></li>
                                <li><span>Show “how hard” a team is working</span></li>
                            </ul>
                        </div>
                        <div>
                            <h2>Code Coverage</h2>
                            <p></p>
                        </div>
                        <div>
                            <h2>Code Complexity</h2>
                            <p></p>
                        </div>
                        <div>
                            <h2>Defects</h2>
                            <p></p>
                        </div>
                        <div>
                            <h2>Coupling and Cohesion</h2>
                            <p></p>
                        </div>
                        <div>
                            <h2>Build Failures</h2>
                            <p></p>
                        </div>
                        <div>
                            <h2>Process Adherence</h2>
                            <p></p>
                        </div>
                        <div>
                            <h2>Lines of Code</h2>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
</body>

</html>