<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Scrum Team</h1>
                        <div id="main-content" class="wiki-content group">
                            <p><span class="confluence-embedded-file-wrapper confluence-embedded-manual-size"><img
                                        class="confluence-embedded-image confluence-external-resource" height="400"
                                        src="https://scrumorg-website-prod.s3.amazonaws.com/drupal/inline-images/Scrum%20Team%20roles.png"
                                        data-image-src="https://scrumorg-website-prod.s3.amazonaws.com/drupal/inline-images/Scrum%20Team%20roles.png"></span>
                            </p>
                            <p>A Scrum Team Has three Accountabilities:</p>
                            <p>
                                <ul class='childpages-macro'>
                                    <li><a href="#developers">Developers</a></li>
                                    <li><a href="#product_owner">Product Owner</a></li>
                                    <li><a href="#scrum_master">Scrum Master</a></li>
                                </ul>
                            </p>
                            <p>The full Scrum Team is responsible for:</p>
                            <ul>
                                <li>Breaking down requirements, creating tasks, estimating(developers only), i.e. creating the Sprint Backlog</li>
                                <li>Ensuring a shippable increment with functionality is delivered</li>
                            </ul>

                            <p>It is critical to Scrum that the team understands the <a
                                    href="Creating-a-Foundation_238191004.html">Boundaries</a> of these accountabilities
                                and the places in which Scrum recommends for collaboration.</p>
                        </div>
                        <div id="scrum_master" class="wiki-content group">
                            <h2>Scrum Master</h2>
                            <p><span class="confluence-embedded-file-wrapper confluence-embedded-manual-size"><img
                                        class="confluence-embedded-image confluence-external-resource" height="400"
                                        src="https://miro.medium.com/max/1200/1*9Zf0StqtSEwp1-uhbDe7Tg.png"
                                        data-image-src="https://miro.medium.com/max/1200/1*9Zf0StqtSEwp1-uhbDe7Tg.png"></span>
                            </p>
                            <p><span>The Scrum Master serves the Scrum Team in maximizing the benefits of Scrum. The
                                    Scrum Team serves the organization in delivering valuable products.</span></p>
                            <p><span>The Scrum Master is responsible for ensuring</span></p>
                            <ul>
                                <li><span>Scrum is understood and enacted</span></li>
                                <li><span>Impediments are removed that cannot be resolved solely by the developers and
                                        PO</span></li>
                                <li><span>The growth and success of others</span></li>
                                <li><span>The facilitation of Scrum Events</span></li>
                            </ul>
                            <h3 id="ScrumMaster-Qualities"><span>Qualities</span></h3>
                            <ul>
                                <li><span>Leads by example</span></li>
                                <li><span>Empowers others</span></li>
                                <li><span>Creates a safe environment</span></li>
                                <li><span>Is comfortable with failure</span></li>
                                <li><span>Listens first</span></li>
                                <li><span>Cares deeply for people</span></li>
                                <li><span>Willing to challenge limits</span></li>
                                <li><span>Operates with integrity</span></li>
                                <li><span>Shows low tolerance for organizational impediments</span></li>
                            </ul>
                            <h3 id="ScrumMaster-MeasuringSuccess"><span>Measuring Success</span></h3>
                            <ul>
                                <li><span>Is the Scrum Team reliably creating a releasable Increment during every
                                        Sprint? </span></li>
                                <li><span>Is the </span><span>value</span><span> of the Increment acceptable? Is it
                                        improving? </span></li>
                                <li><span>Is the quality of the Increment acceptable? Is it improving? </span></li>
                                <li><span>Do team members enjoy their work, and are they continuously learning and
                                        growing? Or does the team seem to be stagnating and experiencing declining
                                        morale? </span></li>
                                <li><span>Is the Scrum Team </span><strong>committed</strong><span> to continuously
                                        improving every Sprint? </span></li>
                                <li><span>Do the Scrum Team members have a solid understanding of the Scrum Framework,
                                        and do they apply it consistently and purposefully? Or are they just “following
                                        the rules” because the Scrum Master tells them to?</span></li>
                            </ul>

                            <p><img src="../images/attachments/238191083/238191086.png"></p>
                            <h3 id="ScrumMaster-Options"><span>Options</span></h3>
                            <ul>
                                <li><span>Uphold Scrum </span></li>
                                <ul>
                                    <li><span>Guiding the Scrum Team back to the “why” behind the framework and
                                            reinforcing the benefits of Scrum</span></li>
                                </ul>
                                <li><span>Teach</span></li>
                                <ul>
                                    <li><span>Create a space for team members to learn experientially through
                                            self-discovery</span></li>
                                </ul>
                                <li><span>Point North</span></li>
                                <ul>
                                    <li><span>Creating and fostering an empirical culture of
                                        </span><strong>inspection</strong><span> and </span><strong>adaptation</strong>
                                    </li>
                                </ul>
                                <li><span>Coach</span></li>
                                <ul>
                                    <li><span>Believe that the person or team has the capability to find their own
                                            answers</span></li>
                                    <ul>
                                        <li><span>Identify actions</span></li>
                                        <li><span>Gain better understanding</span></li>
                                        <li><span>Help them be accountable for the actions</span></li>
                                    </ul>
                                </ul>
                                <li><span>Facilitate</span></li>
                                <ul>
                                    <li><span>Be aware of the room, maintain productive conflict and assist in the focus
                                            on shared goals and outcomes</span></li>
                                </ul>
                                <li><span>Take Action</span></li>
                                <ul>
                                    <li><span>Strike a balance between safety concerns and the ability of the team to
                                            self organize</span></li>
                                </ul>
                                <li><span>Actively do nothing</span></li>
                                <ul>
                                    <li><span>Allow the team to experiment and fail. The heart of Scrum is empiricism
                                            and learning by doing. If the Scrum Master steps in the team may not be able
                                            to truly self-organize and grow</span></li>
                                </ul>
                            </ul>
                        </div>
                        <div id="product_owner" class="wiki-content group">
                            <h2>Product Owner</h2>
                            <p><span>The Product Owner acts as a funnel, gathering all the requirements for the product
                                    and any feedback received from the users, stakeholders and Scrum Team into a
                                    prioritized list of highly valuable PBIs in the Product backlog.</span></p>
                            <p><span>The Product Owner has the final say in the order of the product backlog and is
                                    responsible for ensuring that the items the Scrum Team works on are truly maximizing
                                    possible value.</span></p>
                            <p><span>There should only be one Product Owner per product regardless of the number of
                                    scrum teams working on the single product.</span></p>

                            <p><strong>Product owners can</strong></p>
                            <ul>
                                <li><span>Allocate other people to gather requirements, gather market data, update
                                        PBIs…</span></li>
                                <li><span>Cancel a sprint if the Sprint Goal becomes obsolete</span></li>
                                <li><span>Work with the developers to reassess items in the Sprint Backlog if new
                                        information is brought to light midway through the Sprint</span></li>
                                <li><span>Decide on the appropriate time to release an increment</span></li>
                                <ul>
                                    <li><span>We can use “Done”, the review event and other means to determine if an
                                            increment should be release and which parts of the increment should be
                                            released and when</span></li>
                                </ul>
                            </ul>
                            <p><strong>Product Owners cannot</strong></p>
                            <ul>
                                <li><span>Have others stand-in or replace them in Scrum Events</span></li>
                                <li><span>Allow others to have the final say in the order of the Product backlog,
                                        regardless if someone else physically reorders the backlog, the Product Owner
                                        will always be the one accountable for the prioritization</span></li>
                            </ul>

                            <h1 id="ProductOwner-TipsandTrainingMaterials"><span>Tips and Training Materials</span></h1>
                            <p><span>If you are a Product Owner, there are a lot of resources available to you, I would
                                    recommend going through this <a
                                        href="https://www.scrum.org/pathway/product-owner-learning-path"
                                        class="external-link" rel="nofollow">learning path on Scrum.org</a>, Reading up
                                    on <a href="/scrum/artifacts#product_backlog">Product Backlog</a>, <a
                                        href="/scrum/events#refinement">Product Backlog Refinement</a>,
                                    and <a href="/scrum/artifacts#product_inrement">Product Increment</a>.</span></p>

                            <p><span>For Product Owners there are two main certifications you can get PSPO and CSPO both
                                    are considered to be the top-level certifications and there is minimal difference
                                    between the &quot;quality&quot; or industry consideration for the two. If price is a
                                    factor and you are not looking to attend a workshop, I would recommend PSPO but if
                                    you are looking for a workshop CSPO might be a better fit. Personally I like
                                    Scrum.org's approaches to scrum a little more than Scrum Alliance but you may find
                                    that you align more with Scrum Alliance. I would read up more on the Overview's and
                                    Missions of the two and find what fits your agile style more.</span></p>
                            <h4 id="ProductOwner-PSPO-ProfessionalScrumProductOwner"><span>PSPO - Professional Scrum
                                    Product Owner</span></h4>
                            <ul>
                                <li><span style="color: rgb(68,68,68);">$200 USD for certification license only.
                                        Attending the workshop could cost around $500 USD.</span></li>
                                <li><span>Lifetime</span></li>
                                <li><span>Scrum.org</span></li>
                            </ul>
                            <h4 id="ProductOwner-CSPO-CertifiedScrumProductOwner"><span>CSPO - Certified Scrum Product
                                    Owner</span></h4>
                            <ul>
                                <li><span><span style="color: rgb(68,68,68);">$500 USD. The cost varies based on the
                                            location from which you attend the workshop.</span></span></li>
                                <li><span><span style="color: rgb(68,68,68);">Continuing renewal required</span></span>
                                </li>
                                <li><span><span style="color: rgb(68,68,68);">Scrum Alliance</span></span></li>
                            </ul>
                        </div>
                        <div id="developers" class="wiki-content group">
                            <h2>Developers</h2>
                            <p><span>Anyone who has a hand in moving a PBI from “Ready” to “Done” is considered a
                                    developer. This could include people who hold the workplace titles or roles of
                                    “Architect”, “Tester”, “QA Engineer”, “Software Engineer” or “Developer” while Scrum
                                    does not have titles for developers, it is known that the movement from traditional
                                    roles to a cross-functional team may be difficult.</span></p>

                            <p><span>For developers interested in Scrum, you can start with the Scrum.org <a
                                        href="https://www.scrum.org/pathway/software-developer-learning-path"
                                        class="external-link" rel="nofollow">learning path for developers</a>. If you're
                                    really interested they also offer a certification <a
                                        href="https://www.scrum.org/professional-scrum-developer-certification"
                                        class="external-link" rel="nofollow">PSD</a>. You may find the sections on <a
                                        href="/scrum/tools/done">Delivering Done</a> and <a
                                        href="/scrum/tools/building_quality">Building Quality</a>, helpful as
                                    well.</span></p>
                            <h3 id="Developers-Architecture"><span>Architecture</span></h3>
                            <p><span>The Architecture of a product is the responsibility of all developers and not just
                                    ones with the title “Architect” ​. We can ensure good architecture through planning
                                    some time each Sprint to discuss the architecture needed for the features planned in
                                    that Sprint and by having a set of guiding architecture principles that every
                                    Developer understands and follows when writing code.</span></p>
                            <h3 id="Developers-Spike"><span>Spike</span></h3>
                            <p><span>A small development activity to learn about technical elements of a proposed
                                    solution.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>