<script src="https://kit.fontawesome.com/72b7c69e0e.js" crossorigin="anonymous"></script>
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top grey_background">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-hand-spock blue"></i> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link blue" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blue" href="/wesley">Wesley</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blue" href="/alex">Alex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blue" href="/scrum">Scrum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link blue" href="/product/intro">Product</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

