<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand" href="#"> <img src="images/wreath.png" > </img> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link brown" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link brown" href="/alex">Alex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link brown" href="/scrum">Scrum</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

