<script src="https://kit.fontawesome.com/72b7c69e0e.js" crossorigin="anonymous"></script>
<div class="wrapper scrum-sidebar">

    <!-- Sidebar -->
    <nav id="sidebar">
		<h3 style="width: max-content;">Guide</h3>
        <ul class="list-unstyled components">
			<li>
                <a href="/product/intro">Introduction</a>
			</li>
            <li >
                <a href="/product/planning">Planning</a>
            </li>
            <li>
                <a href="/product/value">Value</a>
            </li>
            <li>
                <a href="/product/vision">Vision</a>
            </li>
            <li>
                <a href="/product/validation">Validation</a>
            </li>
        </li>
    </nav>

</div>