<script src="https://kit.fontawesome.com/72b7c69e0e.js" crossorigin="anonymous"></script>
<div class="wrapper scrum-sidebar">

    <!-- Sidebar -->
    <nav id="sidebar">
		<h3>Scrum Guide</h3>
        <ul class="list-unstyled components">
			<li>
                <a href="/scrum">Introduction</a>
			</li>
            <li>
                <a href="#pageFoundations" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
                <ul class="collapse list-unstyled" id="pageFoundations">
                    <li class="sub">
                        <a href="/scrum/artifacts">Artifacts</a>
                    </li>
                    <li class="sub">
                        <a href="/scrum/events">Events</a>
					</li>
					<li class="sub">
                        <a href="/scrum/metrics">Metrics</a>
                    </li>
                    <li class="sub">
                        <a href="/scrum/scrum_team">Scrum Team</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageNotes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Notes</a>
                <ul class="collapse list-unstyled" id="pageNotes">
                    <li class="sub">
                        <a href="/scrum/notes/agile">Agile Mindset</a>
                    </li>
                    <li class="sub">
                        <a href="/scrum/notes/empiricism">Empiricism</a>
					</li>
					<li class="sub">
                        <a href="/scrum/notes/teamwork">Teamwork</a>
                    </li>
                    <li class="sub">
                        <a href="/scrum/notes/team_process">Team Process</a>
					</li>
					<li class="sub">
                        <a href="/scrum/notes/team_identity">Team Identity</a>
					</li>
					<li class="sub">
                        <a href="/scrum/notes/provide_value">Provide Value</a>
					</li>
					<li class="sub">
                        <a href="/scrum/notes/organization">Organization</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Kanban/Scrumban</a>
			</li>
			<a href="#pageTools" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tools and Tips</a>
			<ul class="collapse list-unstyled" id="pageTools">
				<li class="sub">
					<a href="/scrum/tools/building_quality">Building Quality</a>
				</li>
				<li class="sub">
					<a href="/scrum/tools/capabilities">Capabilities</a>
                </li>
                <li class="sub">
					<a href="/scrum/tools/creating_foundations">Creating Foundations</a>
				</li>
				<li class="sub">
					<a href="/scrum/tools/done">Delivering Done</a>
				</li>
				<li class="sub">
					<a href="/scrum/tools/value_delivery">Delivering Value</a>
                </li>
                <li class="sub">
					<a href="/scrum/tools/impediments">Impediments</a>
				</li>
			</ul>
        </ul>
    </nav>

</div>