<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Capabilities</h1>
                        <div id="main-content" class="wiki-content group">
                            <p><strong>The knowledge, skills and experience to solve problems</strong></p>
                            <h2 id="Capabilities-Teachingskills"><span>Teaching skills</span></h2>
                            <p><span>Teach by hands-on instruction. Show and teach by example.</span></p>
                            <h2 id="Capabilities-FacilitationSkills"><span>Facilitation Skills</span></h2>
                            <p><span>Using a neutral perspective to help your team members come to their own conclusions</span></p>
                            <h2 id="Capabilities-Coaching"><span>Coaching </span></h2>
                            <p><strong>Focuses</strong><span> on the whole organization or a specific division of an
                                    organization. They work with and impact multiple teams. They organize teams to allow
                                    for effective Agile development across teams.</span></p>
                            <h2 id="Capabilities-Technicalexcellence"><span>Technical excellence</span></h2>
                            <p><span>Technical excellence is an essential capability for Development Teams to grow.
                                    There are many different “keys” that can indicate technical excellence which can
                                    vary by product and goals</span></p>
                            <h2 id="Capabilities-ServantLeadership"><span>Servant Leadership</span></h2>
                            <p><span>A leadership style and philosophy whereby an individual interacts with
                                    others—either in a management or fellow employee capacity—to achieve
                                </span><em><span>authority rather than power</span></em><span>.</span></p>
                        </div>
                </div>  
                </div>
            </div>]
        </section>
    </main>
</body>

</html>