<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Creating a Strong Foundation</h1>
                        <div id="main-content" class="wiki-content group">
                            <p><span>Engaged and fulfilled people will be more creative and productive. Strong,
                                    resilient, cross-functional and self-organizing teams provide the foundation for
                                    agile success.</span></p>
                            <h2 id="CreatingaFoundation-Considerations"><span>Considerations</span></h2>
                            <ul>
                                <li><span>Personality</span></li>
                                <li><span>Emotional Intelligence</span></li>
                                <li><span>Intrinsic Motivation</span></li>
                            </ul>
                            <p><br /></p>
                            <h2 id="CreatingaFoundation-BeingCross-Functional"><span>Being Cross-Functional </span></h2>
                            <h3 id="CreatingaFoundation-WorkingAgreements"><span>Working Agreements</span></h3>
                            <ul>
                                <li><span>Tasks or the expected activities and deliverables for the team</span></li>
                                <li><span>Process, or how the activities will be carried out</span></li>
                                <li><span>Norms, or the ways in which team members will interact with each other</span>
                                </li>
                            </ul>
                            <h3 id="CreatingaFoundation-QuestionstoAnswer"><span>Questions to Answer</span></h3>
                            <ul>
                                <li><span>What are our standards of quality?</span></li>
                                <li><span>How will we </span><strong>collaborate</strong><span> effectively?</span></li>
                                <li><span>How will we share information with the team and stakeholders?</span></li>
                                <li><span>What are our standards for meeting attendance, promptness and
                                        participation?</span></li>
                                <li><span>How will we make decisions?</span></li>
                                <li><span>How will we surface conflicts or disagreements?</span></li>
                                <li><span>How do we want it to be when we are in conflict?</span></li>
                                <li><span>How will the Scrum Values guide our interactions and our work?</span></li>
                                <li><span>How will we grow knowledge and skills across team members?</span></li>
                                <li><span>What does </span><strong>respectful</strong><span> behavior look like for
                                        us?</span></li>
                                <li><span>How will we monitor our performance and progress?</span></li>
                                <li><span>How will we hold ourselves accountable for our
                                    </span><strong>commitments</strong><span>?</span></li>
                                <li><span>What is our definition of done?</span></li>
                            </ul>
                            <h2 id="CreatingaFoundation-Purposestatement"><span>Purpose statement</span></h2>
                            <ul>
                                <li><em><span>What needs are we trying to fill?</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>How will we fulfill those needs?</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Whose needs are we fulfilling?</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Why are these needs important?</span></em></li>
                            </ul>
                            <ul>
                                <li><span>Special sauce - </span><em><span>What makes us different?</span></em></li>
                            </ul>
                            <h2 id="CreatingaFoundation-Self-Organization"><span>Self-Organization</span></h2>
                            <p><span>Learning and Development are an important aspect of self organization</span></p>
                            <ul>
                                <li><span>We take </span><span>ownership</span><span> of our processes, we do not blame
                                        the process for our impediments or problems</span></li>
                                <li><span>We </span><span>have a Sprint Goal</span><span> that we create as a
                                        team.</span></li>
                                <li><span>We </span><span>do not wait</span><span> until the daily scrum </span><span>to
                                        bring up challenges and impediments</span></li>
                                <li><span>We </span><span>as a team, decide how and when</span><span> to swarm on
                                        problems that jeopardize our Sprint Goal</span></li>
                                <li><span>We </span><span>consistently and promptly update the sprint
                                        backlog</span><span> to accurately reflect progress and new information</span>
                                </li>
                                <li><span>We determine as a team how </span><span>we will improve</span><span> and
                                    </span><span>take ownership</span><span> of implementing our
                                    </span><strong>commitments</strong></li>
                                <li><span>We work together to </span><span>resolve our conflicts and
                                        disagreements</span></li>
                                <li><span>We make timely </span><span>consensus-based decisions</span></li>
                            </ul>
                            <h2 id="CreatingaFoundation-SharedGoals"><span>Shared Goals</span></h2>
                            <p><span>We need a goal that is </span><span>audacious</span><span>, something we can
                                    stretch and strive for, this should be reflective in the Product and Sprint
                                    Goals</span></p>
                            <h2 id="CreatingaFoundation-ClearAccountability"><span>Clear Accountability</span></h2>
                            <p><span>Every Scrum team member should have the authority to fulfill their respective
                                    roles.</span></p>
                            <h2 id="CreatingaFoundation-Boundaries"><span>Boundaries</span></h2>
                            <ul>
                                <li><span>Boundaries make it safe to </span><span>self-organize</span></li>
                                <li><span>Time-boxes are examples of boundaries we set to create </span><span>urgency,
                                        reduce waste and limit risk</span></li>
                                <li><span>A </span><a
                                        href="https://docs.google.com/document/d/1X0H41YcdsAarKGbuGgxuSzj29hgKUmyoLGDecLkFLl0/edit#heading=h.u6ix0gy0jaqr"
                                        class="external-link" rel="nofollow"><span>definition of done</span></a><span>
                                        is another boundary the team sets on it’s limits for product quality</span></li>
                            </ul>
                            <p><br /></p>
                            <h2 id="CreatingaFoundation-EffectiveCollaboration"><span>Effective Collaboration</span>
                            </h2>
                            <p><span>A </span><span>self-organizing, cross-functional</span><span> team needs to learn
                                    how to </span><strong>collaborate</strong><span> effectively, there are five assets
                                    that can help with this:</span></p>
                            <h3 id="CreatingaFoundation-FiveAssets"><span>Five Assets</span></h3>
                            <ul>
                                <li><strong>Trust</strong></li>
                            </ul>
                            <ul>
                                <ul>
                                    <ul>
                                        <li><span>Willingness to be vulnerable with one’s fellow team members</span>
                                        </li>
                                    </ul>
                                </ul>
                            </ul>
                            <ul>
                                <li><em><span>Go first</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Be willing to say no</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Assume positive intent</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Avoid gossiping</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Match words to actions</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Be </span></em><strong><em>open</em></strong><em><span> and honest with
                                            each other</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Share learnings from mistakes</span></em></li>
                            </ul>
                            <ul>
                                <li><em><span>Get to know each other as people</span></em></li>
                            </ul>
                            <ul>
                                <li><strong>Productive Conflict</strong></li>
                            </ul>
                            <ul>
                                <ul>
                                    <ul>
                                        <li><span>Use conflict to generate new ideas and explore different
                                                solutions</span></li>
                                    </ul>
                                </ul>
                            </ul>
                            <ul>
                                <li><strong>Commitment</strong></li>
                            </ul>
                            <ul>
                                <ul>
                                    <ul>
                                        <li><span>Once consensus is reached, team members stay
                                            </span><strong>committed</strong><span> to the decision,
                                            </span><em><span>even if we disagree with the decision we must trust our
                                                    team members and the choices of the full team</span></em></li>
                                        <li><strong>Fist of Five</strong><span> - put up fingers to indicate whether or
                                                not the team agrees with a decision and to which degree</span></li>
                                        <li><strong>Roman Voting</strong><span> - Thumbs up for agree, thumbs to the
                                                side for go with the team and thumbs down for disagree</span></li>
                                    </ul>
                                </ul>
                            </ul>
                            <ul>
                                <li><strong>Accountability</strong></li>
                            </ul>
                            <ul>
                                <ul>
                                    <ul>
                                        <li><span>Team members hold each other </span><span>accountable</span><span> for
                                                the commitments they have made both individually and as a scrum
                                                team</span></li>
                                        <li><span>When we are willing to hold each other
                                            </span><span>accountable</span><span> we enable the ability to set higher
                                                standards</span></li>
                                    </ul>
                                </ul>
                            </ul>
                            <ul>
                                <li><strong>Shared Goals and outcomes</strong></li>
                            </ul>
                            <ul>
                                <ul>
                                    <li><span>Bind the team together and provide team members with principles they can
                                            all align with and use to guide decision making</span></li>
                                </ul>
                            </ul>
                            <h2 id="CreatingaFoundation-TeamProgress"><span>Team Progress</span></h2>
                            <h3 id="CreatingaFoundation-StableTeam"><span>Stable Team</span></h3>
                            <p><span>A stable team is one whose members don’t split their time too much with other teams
                                    and whose team composition doesn’t change too much over time</span></p>
                            <p><span>The goal should be “stable enough”. Enough so that we can continue to add
                                </span><span>value</span><span> in spite of uncertainties.</span></p>
                            <h3 id="CreatingaFoundation-ProductiveTeam"><span>Productive Team</span></h3>
                            <p><span>Signs of a productive team </span></p>
                            <ul>
                                <li><strong>Focus</strong><span> on team goals rather than individual
                                        accomplishments</span></li>
                                <li><span>The success or failure of the team is as a whole</span></li>
                                <li><strong>Focus</strong><span> on quality improvement</span></li>
                                <li><span>Value</span><span> of increments increases over time</span></li>
                                <li><span>Impediments are being removed</span></li>
                                <li><span>Team skills and knowledge is increasing</span></li>
                                <li><span>Productive Retrospectives</span></li>
                                <li><span>Are confident they can solve any problem</span></li>
                                <li><strong>Committed</strong><span> to team success</span></li>
                                <li><span>Driven by result and take responsibility for results</span></li>
                                <li><span>Hyper-</span><strong>Transparent</strong></li>
                                <li><span>Make </span><span>value</span><span>-driven, consensus-based decisions</span>
                                </li>
                                <li><span>Actively seek PRODUCTIVE conflict</span></li>
                                <li><span>Are willing to push themselves</span></li>
                                <li><span>Always looking to improve effectivity and productivity</span></li>
                                <li><span>Able to </span><strong>adapt</strong><span> fluidly</span></li>
                                <li><span>Take responsibility for process, tools and interactions</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>]
        </section>
    </main>
</body>

</html>