<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
						<h1>Delivering Done</h1>
                        <div id="main-content" class="wiki-content group">
							<p><span>The best practice or tool is the one that works for your product and your team. The Development Team’s shared understanding of the work needed to create a </span><strong>usable, releasable increment</strong></p><ul><li><span>Achievable</span></li><li><span>Appropriate</span></li><li><span>Minimum level of quality and completeness</span></li></ul><p><br/></p><p><span>DoD should ensure that the increment can be integrated into previous increments. </span></p><p><span>When multiple teams work together they need a single “done” increment that gets integrated all together.</span></p><h2 id="DeliveringDone-Benefits"><span>Benefits</span></h2><ul><li><strong>Transparency</strong><span> of </span><span>process</span></li><ul><li><span>If we can get to done the process is working</span></li></ul><li><strong>Transparency</strong><span> of the </span><span>increment</span></li><ul><li><span>We understand what it truly means for an increment to be “done”</span></li></ul><li><strong>Transparency</strong><span> about </span><span>where we are</span></li><ul><li><span>We can better communicate progress</span></li></ul><li><strong>Transparency</strong><span> around </span><span>where we are going</span></li><ul><li><span>We can use size and complexity to forecast similar future work </span></li></ul><li><strong>Transparency</strong><span> about </span><span>sprint planning</span></li><ul><li><span>We have a clearer understanding of what we can get to done</span></li></ul></ul><h2 id="DeliveringDone-CreationProcess"><span>Creation Process</span></h2><ul><li><span>What do we need to assist maintenance?</span></li><li><span>How do we minimize tech debt?</span></li><li><span>How will we test the product?</span></li><li><span>What can we automate?</span></li><li><span>What defects always need to be resolved?</span></li><li><span>How will we meet performance and scalability requirements?</span></li><li><span>What standards will guide </span><a href="https://docs.google.com/document/d/1X0H41YcdsAarKGbuGgxuSzj29hgKUmyoLGDecLkFLl0/edit#heading=h.29duxa8w4z4f" class="external-link" rel="nofollow"><span>technical excellence</span></a><span>?</span></li><li><span>How will we verify conformance?</span></li><li><span>How will we verify data quality?</span></li><li><span>How do we verify security?</span></li><li><span>How do we ensure legal and regulatory compliance?</span></li><li><span>What documentation is needed to release to prod?</span></li></ul><p><br/></p><h2 id="DeliveringDone-Sprintgoalstogetto“Done”"><span>Sprint goals to get to “Done”</span></h2><ul><li><strong><em>Focus</em></strong></li></ul><ul><li><em><span>Flexibility</span></em></li></ul><ul><li><em><span>Purpose</span></em></li></ul><ul><li><em><span>Measurable</span></em></li></ul><ul><li><em><span>Business Impact</span></em></li></ul><ul><li><em><span>Risk reducing</span></em></li></ul><ul><li><em><span>Team Consensus</span></em></li></ul><p><br/></p><h2 id="DeliveringDone-MeasuringandAnalyzingFlow"><span>Measuring and Analyzing Flow</span></h2><p><em><span>Flow</span></em><span> - the movement of </span><span>value</span><span> throughout the product development system</span></p><p><span>Objective data can help identify potential patterns</span></p><ul><ul><li><span>Track </span><em><span>cycle time</span></em></li><ul><li><span>The amount of time lapsed between when a work item starts and when it finishes</span></li></ul><li><span>Use a burndown chart to track </span><em><span>throughput</span></em></li></ul></ul><ul><li><span>The number of work items finished per unit of time</span></li></ul><ul><li><span>Track </span><em><span>WIP</span></em></li><ul><li><span>The number of items started but not finished</span></li></ul><li><span>Track </span><em><span>work item age</span></em></li><ul><li><span>The amount of time between when a work item started and when the current time if the item is still in-progress</span></li></ul><li><span>Track blocked Product Backlog items (PBIs)</span></li><li><span>Pay attention to trends</span></li></ul>
						</div>
                    </div>
                </div>
            </div>]
        </section>
    </main>
</body>

</html>