<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Improving Value Delivered</h1>
                        <div id="main-content" class="wiki-content group">
                            <p><span>Are our customers happy? Are we able to retain clients? Are our employees
                                    happy?</span></p>
                            <p><span>Fast delivery ≠ </span><span>Value</span><span> Delivered</span></p>
                            <p><span>To increase </span><span>value</span><span> we not only need to increase the
                                    frequency of delivery for feedback but also the measure of what we deliver to
                                    determine its </span><span>value</span></p>
                            <h3 id="ImprovingValueDelivered-MeasuringValue"><span>Measuring Value</span></h3>
                            <p><strong>Financial</strong><span>: Revenue, income, Direct Costs</span></p>
                            <p><strong>Non-Financial</strong><span>: Market-growth, customer base diversity, customer
                                    satisfaction, employee satisfaction, turnover rate, ease of use and ease of product
                                    adoption</span></p>
                            <p><span>The Product Owner is the maximizer of product value but the whole Scrum team is
                                    responsible for defining value, delivering value and measuring value. We should
                                    build involvement in the process of understanding value across not only the team but
                                    the whole organization.</span></p>
                            <p><span>While output is good to measure, if we are delivering
                                    low-</span><span>value</span><span> features the output may not be as
                                </span><span>valuable</span><span> as a low-output but
                                    high-</span><span>value</span><span> delivery</span></p>
                            <h3 id="ImprovingValueDelivered-Generalmeasuresofcustomerhappiness:"><span>General measures
                                    of customer happiness:</span></h3>
                            <ul>
                                <li><span>Net Promoter Score </span></li>
                                <li><span>Revenue or profitability per customer </span></li>
                                <li><span>Repeat customer business </span></li>
                                <li><span>Reduction in total cost of ownership</span></li>
                                <li><span> Improved conversion rates </span></li>
                                <li><span>Growth in number of customers or users </span></li>
                                <li><span>Customer referrals </span></li>
                            </ul>
                            <h3 id="ImprovingValueDelivered-Achievementofbusinessgoals:"><span>Achievement of business
                                    goals: </span></h3>
                            <ul>
                                <li><span>Market share </span></li>
                                <li><span>Aggregate revenue or profit </span></li>
                                <li><span>Cost to obtain a new customer </span></li>
                                <li><span>Reduction in cycle time, reductions in inventory on hand, cost savings, or
                                        increases in market share </span></li>
                            </ul>
                            <h3 id="ImprovingValueDelivered-Specificmeasuresofcustomerresults:"><span>Specific measures
                                    of customer results: </span></h3>
                            <ul>
                                <li><span>Time saved for the customer to achieve a goal </span></li>
                                <li><span>Frequency of feature usage </span></li>
                                <li><span>Duration of feature usage</span></li>
                                <li><span>Number of Customers or users using a feature</span></li>
                                <li><span>Transaction completion/abandon rates</span></li>
                            </ul>
                            <h2 id="ImprovingValueDelivered-ProductVision"><span>Product Vision</span></h2>
                            <p><span>The product vision is instrumental to the Scrum Team. It is the key in which the
                                    team Enlivens purpose, </span><strong>focuses </strong><span>on
                                    high-</span><span>value</span><span> delivery and forms a team identity</span></p>
                            <h3 id="ImprovingValueDelivered-Techniques"><span>Techniques</span></h3>
                            <ul>
                                <li><span>Product Value</span></li>
                                <ul>
                                    <li><span>A clear understanding of the </span><span>value</span><span> of the
                                            product being brought to market</span></li>
                                </ul>
                                <li><span>Personas</span></li>
                                <ul>
                                    <li><span>Guide the understanding of the “Who” part of the product. Who am I
                                            building this product for?</span></li>
                                    <li><span>A fictional character that represents a user or customer type we expect to
                                            have on the system</span></li>
                                    <li><span>We should measure </span><em><span>outcomes </span></em><span>against the
                                            expectations for this persona</span></li>
                                    <li><span>Impact maps are a good way to visualize outcomes and personas</span></li>
                                </ul>
                                <li><span>Product Roadmap</span></li>
                                <ul>
                                    <li><span>A visual representation of the high-level plan for the product</span></li>
                                </ul>
                                <li><span>Hypothesis-Driven Development</span></li>
                                <ul>
                                    <li><span>A mix of persona, outcomes, and explicit results as a way to drive
                                            development</span></li>
                                </ul>
                            </ul>
                            <h2 id="ImprovingValueDelivered-UserStories"><span>User Stories</span></h2>
                            <p><span>A placeholder for user conversations, how would someone use the product or feature
                                    to achieve a set outcome</span></p>
                            <h3 id="ImprovingValueDelivered-3Cs"><span>3 Cs</span></h3>
                            <ul>
                                <li><span>Card</span></li>
                                <ul>
                                    <li><span>Short topic</span></li>
                                </ul>
                                <li><span>Conversation</span></li>
                                <ul>
                                    <li><span>Discussion over said topic</span></li>
                                </ul>
                                <li><span>Confirmation</span></li>
                                <ul>
                                    <li><span>How will we prove this works?</span></li>
                                </ul>
                            </ul>
                            <p><br /></p>
                            <h2 id="ImprovingValueDelivered-Improvingvaluedeliveredduringasprint"><span>Improving value
                                    delivered during a sprint</span></h2>
                            <p><span>A PBI is not finalized until it is marked as “Done”</span></p>
                            <p><span>Any options on a PBI that come up at any time can be renegotiated with the product
                                    owner</span></p>
                        </div>
                    </div>
                </div>
            </div>]
        </section>
    </main>
</body>

</html>