<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Evidence-Based Management</h1>
                        <div id="main-content" class="wiki-content group">
                            <p>An empirical approach that helps organizations to continuously improve customer outcomes,
                                organizational capabilities and business results under conditions of uncertainty.</p>
                            <p>By using experimentation and evidence we can help our teams improve performance and refine
                                our goals.</p>

                            <ul>
                                <li>Strategic Goals - An aspirational goal that represents something important the
                                    organization would like to achieve. Results in improved happiness, safety, security,
                                    or well-being
                                    of the recipients of some product or service</li>
                                <li>Intermediate Goals - achievements that indicate that we are on our way to the
                                    strategic goal</li>
                                <li>Immediate Tactical Goals - critical near-term objectives that allow us to work
                                    towards the Intermediate Goals</li>
                                <li>Starting State - where the organization is relative to the Strategic Goal at the
                                    start of the Journey</li>
                                <li>Current State - where the organization is relative to the Strategic Goal at the
                                    present time.</li>
                            </ul>
                            <img src="../../images/ebm.png">

                            <h2>Key Value Areas (KVAs)</h2>
                            <ul>
                                <li>Unrealized Value - the satisfaction gap between a beneficiary's desired outcome and
                                    their current experience</li>
                                <li>Current Value - current state in realizing the desired outcomes</li>
                                <li>Time-to-Market - responsiveness in delivering value</li>
                                <li>Ability-to-Innovate - effectiveness in delivering value</li>
                            </ul>
                            <h2>Key Value Measures (KVMs)</h2>
                            <h3>Current Value</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Budget or revenue per
                                                Employee</span></td>
                                        <td><span>Approved budget or gross
                                                revenue / # of employees</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Product Cost Ratio</span>
                                        </td>
                                        <td><span>All traceable expenses
                                                that develop, sustain, provide services, and administers the product or
                                                system. Makes it easier to measure ROI.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Employee
                                                Satisfaction</span></td>
                                        <td><span>"Engaged employees that know how to maintain, sustain and enhance the software systems and products are our greatest assets"</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Customer
                                                Satisfaction</span></td>
                                        <td><span>Meeting or surpassing your customer's expectations. (NPS)</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Time-To-Market</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Release Frequency</span> </td>
                                        <td><span>The time needed to satisfy
                                                the customer with effective products and services.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Release
                                                Stabilization</span></td>
                                        <td><span>Impact of poor development
                                                practices and underlying design and code base.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Cycle Time</span></td>
                                        <td><span>The time (including
                                                stabilization) to satisfy a key set of customers or to respond to a
                                                significant organizational request.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>On-Product Index</span></td>
                                        <td><span>The time developers are allowed to work on exactly one initiative. The less context-switching the better. Think Little's Law.</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Ability-to-Innovate</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Installed Version
                                                Index</span></td>
                                        <td><span>Because of the difficulty
                                                customers face adapting or changing to a new release.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Usage Index</span></td>
                                        <td><span>Determines a product that
                                                is burdensome and difficult to use and excess software that must be
                                                maintained even if rarely used.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Innovation Rate</span></td>
                                        <td><span>Growth of technical debt
                                                caused by poorly designed and developed software. Consequently, trend of
                                                budget percentage being consumed keeping old software alive.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Defects</span></td>
                                        <td><span>Additionally, measures
                                                increasingly poor-quality software that leads to greater
                                                resource.</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Unrealized Value</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Market Share </span></td>
                                        <td><span>The relative percentage of
                                                the market not controlled by the
                                                product; the potential market share that the product might achieve
                                                if it better met customer needs.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Customer or User Satisfaction Gap</span></td>
                                        <td><span>The difference between a
                                                customer or user’s desired experience
                                                and their current experience.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Desired Customer
                                                Experience or
                                                satisfaction</span></td>
                                        <td><span>A measure that indicates
                                                the experience that the customer would
                                                like to have</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h2>Experiment Loop</h2>
                            <ul>
                                <li>Forming a hypothesis for improvement</li>
                                <li>Running your experiments</li>
                                <li>Inspecting your results</li>
                                <li>Adapting your goals or your approach based on what you learned</li>
                            </ul>


                            <h2>Resources</h2>
                            <a
                                href="https://scrumorg-website-prod.s3.amazonaws.com/drupal/2020-12/EBM%20Guide%202020_1.pdf?nexus-file=https%3A%2F%2Fscrumorg-website-prod.s3.amazonaws.com%2Fdrupal%2F2020-12%2FEBM%2520Guide%25202020_1.pdf">EBM
                                Guide</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>