<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Evidence-Based Management</h1>
                        <p>This page is derived from the EBM Guide provided by Scrum.org linked at the bottom of the page.</p>
                        <div id="main-content" class="wiki-content group">
                            <p>An empirical approach that helps organizations to continuously improve customer outcomes,
                                organizational capabilities and business results under conditions of uncertainty.</p>
                            <p>By using experimentation and evidence we can help our teams improve performance and refine
                                our goals.</p>

                            <ul>
                                <li>Strategic Goals - An aspirational goal that represents something important the
                                    organization would like to achieve. Results in improved happiness, safety, security,
                                    or well-being
                                    of the recipients of some product or service</li>
                                <li>Intermediate Goals - achievements that indicate that we are on our way to the
                                    strategic goal</li>
                                <li>Immediate Tactical Goals - critical near-term objectives that allow us to work
                                    towards the Intermediate Goals</li>
                                <li>Starting State - where the organization is relative to the Strategic Goal at the
                                    start of the Journey</li>
                                <li>Current State - where the organization is relative to the Strategic Goal at the
                                    present time.</li>
                            </ul>
                            <img src="../../images/ebm.png">\
                            <p class="lead">"Every feature and every requirement really represent a hypothesis about value"</p>

                            <h2>Key Value Areas (KVAs)</h2>
                            <ul>
                                <li>Unrealized Value - the satisfaction gap between a beneficiary's desired outcome and
                                    their current experience</li>
                                    <ul>
                                        <li>Low UV may indicate that the product is at the end of it's PDLC or is not worth the investment</li>
                                    </ul>
                                <li>Current Value - current state in realizing the desired outcomes</li>
                                    <ul>
                                        <li>Low CV and high UV indicates a good investment, high CV and low UV indicates a product at the end of it's PDLC</li>
                                    </ul>
                                <li>Time-to-Market - responsiveness in delivering value</li>
                                    <ul>
                                        <li>Reducing the number of features can drastically improve T2M. Consider removing non-value added activities to improve T2M.</li>
                                    </ul>
                                <li>Ability-to-Innovate - effectiveness in delivering value, how can we maximize the organization's ability to deliver new capabilities and innovative solutions</li>
                                    <ul>
                                        <li>Are we spending too much time addressing poor quality?</li>
                                        <li>Do we need to maintain multiple variations of a product?</li>
                                        <li>Is our whole team empowered to make decisions?</li>
                                        <li>Are we hiring and inspiring talented and passionate team-members?</li>
                                    </ul>
                            </ul>
                            <h2>Key Value Measures (KVMs)</h2>
                            <p>Total Market Value = Current Value + Unrealized Value</p>
                            <p>Organizational Capability = Time-To-Market + Ability to Innovate</p>
                            <h3>Current Value</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Budget or revenue per
                                                Employee</span></td>
                                        <td><span>Approved budget or gross
                                                revenue / # of employees</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Product Cost Ratio</span>
                                        </td>
                                        <td><span>All traceable expenses
                                                that develop, sustain, provide services, and administers the product or
                                                system. Makes it easier to measure ROI.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Employee
                                                Satisfaction</span></td>
                                        <td><span>"Engaged employees that know how to maintain, sustain and enhance the software systems and products are our greatest assets"</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Customer
                                                Satisfaction</span></td>
                                        <td><span>Meeting or surpassing your customer's expectations. (NPS)</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Unrealized Value</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Market Share </span></td>
                                        <td><span>The relative percentage of
                                                the market not controlled by the
                                                product; the potential market share that the product might achieve
                                                if it better met customer needs.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Customer or User Satisfaction Gap</span></td>
                                        <td><span>The difference between a
                                                customer or user’s desired experience
                                                and their current experience.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Desired Customer
                                                Experience or
                                                satisfaction</span></td>
                                        <td><span>A measure that indicates
                                                the experience that the customer would
                                                like to have</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Time-To-Market</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Release Frequency</span> </td>
                                        <td><span>The time needed to satisfy
                                                the customer with effective products and services.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Release
                                                Stabilization</span></td>
                                        <td><span>Impact of poor development
                                                practices and underlying design and code base.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Cycle Time</span></td>
                                        <td><span>The time (including
                                                stabilization) to satisfy a key set of customers or to respond to a
                                                significant organizational request.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Build and Integration Frequency</span></td>
                                        <td><span>Integrated and tested builds per Time Periods</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Mean Time to Repair</span></td>
                                        <td><span>Efficiency to Resolve errors = Average(Time when detected - Time when resolved) </span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Lead Time</span></td>
                                        <td><span>The amount of time from when an idea is proposed or hypothesis is formed until a customer can benefit from that idea</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Lead Time for Changes</span></td>
                                        <td><span>THe amount of time to go from code-committed to code running in production</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Deployment Frequency</span></td>
                                        <td><span>The number of time that the organization deployed a new version of the product to users/customers</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Time to Restore Service</span></td>
                                        <td><span>Amount of time between the start of an outage and it's restoration</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Time-to-Learn</span></td>
                                        <td><span>The total time needed to Sketch an idea or improvement, build it, deliver it to users and learn from their usage</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Time to remove impediment</span></td>
                                        <td><span>Average time to raise an impediment and resolve it. Contributes to lead time and employee satisfaction</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Time to Pivot</span></td>
                                        <td><span>A measure of true business agility that presents the elapsed time between when an organization receives feedback and when it responds to the feedback</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <h3>Ability-to-Innovate</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <th><strong>KVM</strong></th>
                                        <th><strong>Measuring</strong></th>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>On-Product Index</span></td>
                                        <td><span>The time developers are allowed to work on exactly one initiative. The less context-switching the better. Think Little's Law.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Installed Version
                                                Index</span></td>
                                        <td><span>Because of the difficulty
                                                customers face adapting or changing to a new release.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Usage Index</span></td>
                                        <td><span>Determines a product that
                                                is burdensome and difficult to use and excess software that must be
                                                maintained even if rarely used.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Innovation Rate</span></td>
                                        <td><span>Growth of technical debt
                                                caused by poorly designed and developed software. Consequently, trend of
                                                budget percentage being consumed keeping old software alive.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Technical Debt</span></td>
                                        <td><span>Additionally, measures
                                                increasingly poor-quality software that leads to greater
                                                resource.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Defect Trends</span></td>
                                        <td><span>Measurement in the change in defects since the last measurement</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Production Incident Count</span></td>
                                        <td><span>The number of times in a given period that the Development team was interrupted to fix a problem in a released product. Indicates the stability of the product.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Active Product Branches</span></td>
                                        <td><span>The number of different versions or variations of the Product. Indicates the potential impact of changes and the resulting complexity of work</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Time Spent Merging Code Between Branches</span></td>
                                        <td><span>The amount of time spent applying changes across different versions of a product or service</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Time spent context-switching</span></td>
                                        <td><span>Time lost to interruptions, time spent switching between tasks, etc.</span></td>
                                    </tr>
                                    <tr>
                                        <td class="kvm_name"><span>Change Failure Rate</span></td>
                                        <td><span>The percentage of released product changes that result in degraded service or require remediation</span></td>
                                    </tr>
                                </tbody>
                            </table>

                            <h2>Experiment Loop</h2>
                            <ul>
                                <li>Forming a hypothesis for improvement</li>
                                <li>Running your experiments</li>
                                <li>Inspecting your results</li>
                                <li>Adapting your goals or your approach based on what you learned</li>
                            </ul>


                            <h2>Resources</h2>
                            <a
                                href="https://scrumorg-website-prod.s3.amazonaws.com/drupal/2020-12/EBM%20Guide%202020_1.pdf?nexus-file=https%3A%2F%2Fscrumorg-website-prod.s3.amazonaws.com%2Fdrupal%2F2020-12%2FEBM%2520Guide%25202020_1.pdf">EBM
                                Guide</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>