<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Empiricism</h1>
                        <div id="main-content" class="wiki-content group">
                            <p><strong>Transparency</strong></p>
                            <ul>
                                <li><span>Team understands what is going on</span></li>
                                <li>Standards are common and well understood</li>
                                <li><span>All aspects of the process are visible</span></li>
                            </ul>
                            <p><strong>Adaptation</strong></p>
                            <ul>
                                <li><span>Team frequently enacts plans to improve and realign behaviors and
                                        processes</span></li>
                            </ul>
                            <p><strong>Inspection</strong></p>
                            <ul>
                                <li><span>Scrum team frequently is able to observe results and learn from them</span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>