<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
						<h1>Organization</h1>
                        <div id="main-content" class="wiki-content group">
                            <p><span>Business agility means a quick enough </span><em><span>return on investment (ROI)</span></em><span>, </span><em><span>flexibility</span></em><span> and </span><em><span>control over investment decisions</span></em><span>, and </span><em><span>the ability to easily change direction </span></em><span>when new opportunities or risks arise. Iterative and incremental approaches, by themselves, don’t always achieve these valuable outcomes. The core of Scrum—</span><strong><em>an agile mindset, empiricism, and teamwork</em></strong><span>—provides the necessary foundation for realizing the benefits of this iterative and incremental approach.</span></p><p><span>Organizations provide <strong>Structure</strong> and <strong>Culture</strong></span></p><ul><li><strong>Structure</strong></li></ul><ul><li style="list-style-type: none;"><ul><li><span>Business Model</span></li></ul></li></ul><ul><li style="list-style-type: none;"><ul><li><em><span>Mission</span></em></li></ul></li></ul><ul><li style="list-style-type: none;"><ul><li><em><span>Strategy</span></em></li></ul></li></ul><ul><li style="list-style-type: none;"><ul><li><em><span>Products</span></em></li></ul></li></ul><ul><li style="list-style-type: none;"><ul><li><em><span>Services</span></em></li></ul></li></ul><ul><li style="list-style-type: none;"><ul><li><em><span>Customers</span></em></li></ul></li></ul><ul><li style="list-style-type: none;"><ul><li><em><span>Financing</span></em></li></ul></li></ul><ul><li style="list-style-type: none;"><ul><li><span>Team Organization</span></li></ul></li></ul><ul><li><strong>Culture</strong></li></ul><ul><ul><li><span>A body of habits that binds people into a cohesive unit</span></li></ul></ul><p><br/></p><p><span>When introducing Scrum to an Organization we must ensure the rollout is managed to avoid blow-back</span></p><p><span>Without tackling the structure and culture when considering implementation of Scrum, we will inevitably run into impediments outside of the control of the Scrum Team. </span></p><p><span>Organizations should build </span><strong>Transparency</strong><span> into the culture. </span><strong>Transparency</strong><span> means that the members of the organization feel safe and </span><strong>respected</strong><span> which in turn allows the Scrum Framework’s pillars to be highlighted and produced </span><span>value</span><span> should flourish in such an environment. </span><span>When trust is built-in we can do great things.</span></p><h3 id="Organization-ImpactsofPerformanceReviewsandCompensation"><span>Impacts of Performance Reviews and Compensation</span></h3><p><span>While traditionally we </span><strong>focus</strong><span> on individual performance, in scrum we </span><strong>focus</strong><span> on the performance of the whole team. When we only </span><strong>focus</strong><span> on individuals we may miss the overall effort performed by the team or what we would expect from an arbitrary title. Instead Scrum insists that we </span><strong>focus</strong><span> instead on effort and outcomes for the entire team rather than the individual.</span></p><p><span>Ideas for rewarding in Scrum</span></p><ul><li><span>Team bonuses rather than individual</span></li><li><span>Letting teams decide how to distribute raises and bonuses</span></li><li><span>Heavily weighing team contributions rather than individual workload</span></li><li><span>Providing frequent feedback</span></li><li><span>Gathering performance data from across the organization</span></li><li><span>Considering intrinsic rewards</span></li></ul><h3 id="Organization-Teamorganizationandlaborsourcing"><span>Team organization and labor sourcing</span></h3><p><span>Sourcing strategies that treat people like exchangeable labor inputs are deeply damaging to creating the kind of </span><span>accountable, </span><strong>transparent</strong><span>, self-organizing</span><span> teams that are essential to success.</span></p><p><span>Allowing employees to understand needed skills, opportunities and career paths in integral to the ability to self-organize</span></p><p><span>Focus first on building high-performing teams, and then </span><strong>focus</strong><span> on removing impediments and other sources of waste, or you may simply find that your sourcing strategy achieves, as one manager lamented, “failure, 70 percent off.”</span></p><p><span>Outsourcing support deprives Scrum Teams of </span><span>valuable</span><span> information they need to understand how to make the application—their product—better.</span></p><h3 id="Organization-Budgeting"><span>Budgeting</span></h3><p><span>We must always keep in mind that we are working through Complex Problems. Traditional methods tend to leave out what Scrum and agile insists on. We must all challenge the traditional business models and work towards ensuring flexibility. The budgeting process will need to follow this as well as noted in</span><a href="https://docs.google.com/document/d/1X0H41YcdsAarKGbuGgxuSzj29hgKUmyoLGDecLkFLl0/edit#heading=h.foq978kg1mt9" class="external-link" rel="nofollow"><span> estimation</span></a><span> we must always keep in mind that estimations are only ever based on what is known. The less a team has worked together and the less examples we are able to compare to, the less accurate estimates will be.</span></p><h3 id="Organization-AcultureofAccountabilityNOTacultureofblame"><span>A culture of Accountability NOT a culture of blame</span></h3><p><span>In Scrum</span><strong> the whole team is responsible for failures </strong><span>and while an individual may be able to be accountable for an individual decision of failure, it is up to the whole team and organization to help and to learn from mistakes. </span></p><p><span>We must foster an environment of safety and </span><strong>transparency</strong><span> so that individuals can be accountable for the things they should be in charge of without concern of blow-back or punishment.</span></p><h3 id="Organization-Letgoofcontrol"><span>Let go of control</span></h3><p><span>Traditionally, managers must retain tight control over the team and the process. In Scrum, we need to cede control. We must give the individuals and teams</span><span> room to self-organize and grow.</span><span> \</span></p><p><span>When thinking back to “Fertile Soil” this is similar to potting a plant in a container that it will eventually outgrow and become root-bound. We must understand that when given space and by trusting in the members we choose to hire, that the team has what it needs to provide the </span><span>value</span><span> we are looking for.</span></p>
                            </div>
                    </div>
                </div>
            </div>]
        </section>
    </main>
</body>

</html>