<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <h1>Team Identity</h1>
                        <div id="main-content" class="wiki-content group">
                            <ul>
                                <li><em><span>Why does our team exist? - </span></em><strong>Purpose</strong></li>
                                <li><em style="letter-spacing: 0.0px;">What is important to us? - </em><strong
                                        style="letter-spacing: 0.0px;">Values</strong></li>
                                <li><em style="letter-spacing: 0.0px;">What do we want? - </em><strong
                                        style="letter-spacing: 0.0px;">Vision</strong></li>
                            </ul>
                            <p>Defining these three ideas: purpose, value and vision can help to guide a Scrum Team to
                                make decisions and self-organize in a way that will allow you and your teams to provide
                                products that are reflective of the same ideas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>