
/* Text Color */
.green {
  color: #8fd900 !important
}

.light_green { 
  color: #c4ff50 !important
}

.dark_green {

  color: #5aa700 !important
}

.brown {
  color: #724523 !important
}

.light_brown {
  color: #a3704c !important
}

.dark_brown {
  color: #441d00 !important
}

.blue {
  color: #c6ffff !important
}

.light_blue {
  color: #faffff !important
}

.dark_blue {
  color: #94cccc !important
}

/* https://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>im/* Text Color */
.green {
  color: #8fd900 !important
}

.light_green { 
  color: #c4ff50 !important
}

.dark_green {

  color: #5aa700 !important
}

.brown {
  color: #724523 !important
}

.light_brown {
  color: #a3704c !important
}

.dark_brown {
  color: #441d00 !important
}

.blue {
  color: #c6ffff !important
}

.light_blue {
  color: #faffff !important
}

.dark_blue {
  color: #94cccc !important
}

/* https://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  max-height: 75px;
  padding: 15px;
  width: auto;
}
.navbar, body {
  background-color: #faffff !important;
}

g {
  max-height: 75px;
  padding: 15px;
  width: auto;
}

a {
  color: #008b8b;
}

.scrum-sidebar {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.scrum-sidebar li .sub {
  padding-left: 1rem;
}

.about-list .media label {
   padding-right: 1em;
}
