

/* Text Color */
.grey {
  color: #645e9dff !important
}

.yellow {
  color: #FFBD33 !important
}

.purple {
  color: rgb(29, 2, 20) !important
}

.blue {
  color:  #013535ff !important
}

.teal {
  color:  #6c969dff !important
}

.grey_background {
  background-color: #abaaad !important
}

.yellow_background {
  background-color: #FFBD33 !important
}

.purple_background {
  background-color: #2d0320ff !important
}

.blue_background {
  background-color:  #013535ff !important
}

.teal_background {
  background-color:  #6c969dff !important
}


/* https://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo */
.navbar-brand {
  padding: 0px;
}



/* https://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  max-height: 75px;
  padding: 15px;
  width: auto;
}
body {
  background-color: #faffff !important;
}

g {
  max-height: 75px;
  padding: 15px;
  width: auto;
}

a {
  color: #008b8b;
}
@media (min-width: 1200px) {
  #about > .container {
    margin: 0 2em 0 2em;
  }
}
.scrum-sidebar {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sub {
  padding-left: 1rem;
}

.about-list .media label {
   padding-right: 1em;
}

th {
  background-color:  #6c969dff !important
}
td {
  background-color:  white;
  border-bottom: 1px solid #645e9dff;
}

.bold {
  font-weight: bold;
}

.kvm_name {
  font-weight: bold;
  width: 15em;
}