

/* Text Color */
.grey {
  color: #645e9dff !important
}

.yellow {
  color: #FFBD33 !important
}

.purple {
  color: #2d0320ff !important
}

.blue {
  color:  #013535ff !important
}

.teal {
  color:  #6c969dff !important
}


/* https://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo */
.navbar-brand {
  padding: 0px;
}



/* https://stackoverflow.com/questions/18474564/bootstrap-3-navbar-with-logo */
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  max-height: 75px;
  padding: 15px;
  width: auto;
}
.navbar, body {
  background-color: #faffff !important;
}

g {
  max-height: 75px;
  padding: 15px;
  width: auto;
}

a {
  color: #008b8b;
}

.scrum-sidebar {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.sub {
  padding-left: 1rem;
}

.about-list .media label {
   padding-right: 1em;
}
