<!DOCTYPE html>
<html>
    <head>
        <title>Alex Cook : Daily Scrum/Standup</title>
        <link rel="stylesheet" href="styles/site.css" type="text/css" />
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

    <body class="theme-default aui-theme-default">
        <div id="page">
            <div id="main" class="aui-page-panel">
                <div id="main-header">
                    <div id="breadcrumb-section">
                        <ol id="breadcrumbs">
                            <li class="first">
                                <span><a href="index.html">Alex Cook</a></span>
                            </li>
                                                    <li>
                                <span><a href="238190967.html">Alex Cook’s Home</a></span>
                            </li>
                                                    <li>
                                <span><a href="Scrum_238190970.html">Scrum</a></span>
                            </li>
                                                    <li>
                                <span><a href="Foundations_238191019.html">Foundations</a></span>
                            </li>
                                                    <li>
                                <span><a href="Events_238191015.html">Events</a></span>
                            </li>
                                                </ol>
                    </div>
                    <h1 id="title-heading" class="pagetitle">
                                                <span id="title-text">
                            Alex Cook : Daily Scrum/Standup
                        </span>
                    </h1>
                </div>

                <div id="content" class="view">
                    <div class="page-metadata">
                        
        
    
        
    
        
        
            Created by <span class='author'> Alex Cook</span> on Mar 03, 2022
                        </div>
                    <div id="main-content" class="wiki-content group">
                    <p><span>A 15 minute meeting to build the plan for the next 24 hours</span></p><ul><li><span>Promotes self-organization</span></li><li><span>Creates </span><strong>focus</strong><span> and reduces waste</span></li><li><span>Promotes </span><strong>transparency</strong><span> and a shared understanding of progress of </span><span>valuable</span><span> outcomes</span></li></ul><p><br/></p><p><span>At the end every team member should understand progress toward the sprint goal, the current plan, the likelihood of achieving it and the plans for the next</span><em><span> 24 hours</span></em></p>
                    </div>

                                        
                                                      
                </div>             </div> 
            <div id="footer" role="contentinfo">
                <section class="footer-body">
                    <p>Document generated by Confluence on Mar 05, 2022 21:24</p>
                    <div id="footer-logo"><a href="http://www.atlassian.com/">Atlassian</a></div>
                </section>
            </div>
        </div>     </body>
</html>
