<!DOCTYPE html>
<html>
    <head>
        <title>Alex Cook : Sprint Review</title>
        <link rel="stylesheet" href="styles/site.css" type="text/css" />
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>

    <body class="theme-default aui-theme-default">
        <div id="page">
            <div id="main" class="aui-page-panel">
                <div id="main-header">
                    <div id="breadcrumb-section">
                        <ol id="breadcrumbs">
                            <li class="first">
                                <span><a href="index.html">Alex Cook</a></span>
                            </li>
                                                    <li>
                                <span><a href="238190967.html">Alex Cook’s Home</a></span>
                            </li>
                                                    <li>
                                <span><a href="Scrum_238190970.html">Scrum</a></span>
                            </li>
                                                    <li>
                                <span><a href="Foundations_238191019.html">Foundations</a></span>
                            </li>
                                                    <li>
                                <span><a href="Events_238191015.html">Events</a></span>
                            </li>
                                                </ol>
                    </div>
                    <h1 id="title-heading" class="pagetitle">
                                                <span id="title-text">
                            Alex Cook : Sprint Review
                        </span>
                    </h1>
                </div>

                <div id="content" class="view">
                    <div class="page-metadata">
                        
        
    
        
    
        
        
            Created by <span class='author'> Alex Cook</span> on Mar 03, 2022
                        </div>
                    <div id="main-content" class="wiki-content group">
                    <p><span>The result of a Sprint Review should be an </span><strong>adapted</strong><span> Product Backlog that better follows the feedback of stakeholders, the market trends, actual </span><span>value</span><span> data and trends.</span></p><h3 id="SprintReview-***Asprintreviewcanincludeademobutademoisnotareplacementforthesprintreview***"><strong>***A sprint review can include a demo but a demo is not a replacement for the sprint review***</strong></h3><p><br/></p><h3 id="SprintReview-Tips"><span>Tips</span></h3><ul><li><span>Be explicit about what you are requesting feedback on</span></li><li><span>Make feedback sessions interactive, encourage participation</span></li><li><span>Enable inter-stakeholder </span><strong>collaboration</strong></li><li><span>Make </span><strong>collaboration</strong><span> visible</span></li><li><span>Break-out sessions</span></li></ul><p><span>Introduce relative </span><span>value</span><span> comparison techniques</span></p>
                    </div>

                                        
                                                      
                </div>             </div> 
            <div id="footer" role="contentinfo">
                <section class="footer-body">
                    <p>Document generated by Confluence on Mar 05, 2022 21:24</p>
                    <div id="footer-logo"><a href="http://www.atlassian.com/">Atlassian</a></div>
                </section>
            </div>
        </div>     </body>
</html>
