<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row align-items-center flex-row">
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <img src="https://media-exp1.licdn.com/dms/image/C5603AQFBKPL1MsSdKg/profile-displayphoto-shrink_800_800/0/1621441128659?e=1652313600&v=beta&t=Twmd0X8n4Dmgtx-Xl9ZW7b7YIEyJRABiLUQFOUB9NqE" style="max-width: 25rem;float:left;" title="Headshot"
                                alt="My Face">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <img src="/images/PSM1_badge.png" style="width: 8em;">
                            <h3 class="dark-color">About Alex Cook</h3>
                            <h6 class="theme-color lead">Scrum Master and Senior Software Engineer </h6>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>Age: </label>
                                        <p> 27 </p>
                                    </div>
                                    <div class="media">
                                        <label>Address: </label>
                                        <p> Atlanta, GA</p>
                                    </div>
                                    <div class="media">
                                        <label>Resume: </label>
                                        <p> <a href="/resume.pdf" download>Download PDF</a></p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>E-mail: </label>
                                        <p> acartacook@gmail.com</p>
                                    </div>
                                    <div class="media">
                                        <label>Phone: </label>
                                        <p><a href="tel:478-538-7296">478-538-7296</a></p>
                                    </div>
                                    <div class="media">
                                        <label>LinkedIn: </label>
                                        <p><a href="https://www.linkedin.com/in/alex-s-cook/"> alex-s-cook</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <p>In five years in healthcare I have gathered a broad knowledge of the industry through
                            my work designing and building a variety of health products. During this time I worked
                            closely with large systems like Twilio, Epic, Cerner, CommonSpirit, LabCorp and Waystar
                            but also just as closely with small rural practices. Despite functioning primarily as a
                            software engineer, I performed many duties typical of a project manager or product owner
                            including product backlog development and prioritization, requirements gathering, cost
                            analysis, roadmap refinement, training junior product members and collaborating with
                            stakeholders. I also worked with senior leadership to define and set KPIs and OKRs for
                            the teams I led and review them periodically throughout the year. With these skills I
                            know that it would be an easy transition for me into a position in Product. I am also currently
                            in the process of acquiring my PSPO Certification as well.
                            <br/>
                            At Azalea Health I worked as both Lead Developer and Product owner for the Hospital
                            Billing Product we built on top of the FHIR eMPI I had co-developed. As part of this
                            position I worked directly with our CEO, CTO, VP of Sales and VP of Revenue Cycle
                            Management to detail a roadmap and work through the needs of the rural Hospitals and
                            Health Systems we were supporting. With a rotating team of eight engineers I created
                            backlog items and prioritized them in line with client requests, our planned roadmap and
                            the abilities and goals of the engineers I was working with. In May of 2020 we launched
                            the new product to two rural hospitals and expanded to Los Angeles Downtown Medical
                            Center in July of the same year.
                            <br/>
                            After leaving Azalea I started as a Senior Software engineer at Docent Health, working
                            on patient experience software focused on engaging patients through texting. A few
                            months later Docent was acquired by Get Well, and I was placed in charge of
                            initializing Scrum processes within our team as Scrum Master. However, for the last
                            several months, after the loss of our head of Product, I have been acting as both
                            Product Owner and Scrum Master as the company worked on hiring someone for the position.
                            During this time I have worked closely with our clients like Northwell, Adventist and
                            CommonSpirit to gather feedback and work with our analysts and Partnership Success teams
                            to funnel these down into refinable backlog items. As I had the broadest knowledge of
                            the needs between internal and external teams, I was also placed in charge of
                            prioritizing the backlog. In January 2021, we finally hired a replacement for the head of
                            Product, and my work in product has started to wind down. While I enjoy my work as a
                            Software Engineer, I have begun to miss the constant collaboration involved with
                            creating new features and maintaining products.
                            <br/>
                            I have always known that I’ve wanted to work in a role that could combine my lifetime
                            love of technology with my love for management. There is something about helping people achieve their
                            goals, working through tough problems and collaborating to create incredible products
                            that brings me immense joy. I truly believe that there are incredible things that can be
                            done with healthcare software and I can't wait to see what is next!
                        </p>
                        <br/>
                        <p>In my spare time, I enjoy baking, gardening, hockey (GO CANUCKS!), watching Tottenham Hotspurs and Atlanta United and playing my flute and piccolo. When out of the house, I like going to museums with my son and going on walks at Arabia Mountain.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>