<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
                        <div id="main-content" class="wiki-content group">
                            <h1>Alex's Scrum Guide</h3>
                            <p>This guide is a culmenation of over a year of training and self-study. I hope it will be useful
                                to you!</p>
                            <p>
                                <h2 id="Scrum-WhatScrum?">
                                    <span>What is Scrum?</span>
                                </h2>
                                <span>
                                    Scrum is an empirical framework for solving complex problems in a complex world.
                                    Although hard to master, most of the key points of Scrum are digestible and good
                                    starts for any team.
                                    The foundation of Scrum sits on the pillars of Transparency, Adaption and
                                    Inspection.
                                    The thought is that without one of these pillars functioning we cannot have the
                                    other two.
                                    For example, if we are not transparent to our team on the work we are doing we
                                    cannot inspect the unknown work,
                                    if we are not inspecting frequently, we will not know what to adapt to and so on.
                                    The guide I have built up here is based on the teachings of Ken Schwaber, Jeff
                                    Sutherland, et al.
                                    There are a lot of resources for learning about Scrum but I will always recommend
                                    starting with the initial inspiration for Scrum,
                                    <a href="https://www.agilepractice.eu/wp-content/uploads/2016/09/Product-Development-Scrum-1986.pdf"
                                        class="external-link" rel="nofollow">&quot;The New, New Product Development
                                        Game&quot;</a> by Hirotaka Takeuchi and Ikujiro Nonaka.
                                    From there you can read the <a href="http://agilemanifesto.org/"
                                        class="external-link" rel="nofollow">Agile Manifesto</a>,
                                    the <a href="http://agilemanifesto.org/principles.html" class="external-link"
                                        rel="nofollow">12 principals of Agile Software</a>,
                                    the <a href="https://scrumguides.org/" class="external-link" rel="nofollow">Scrum
                                        Guide</a> and
                                    <a href="http://scrumbook.org/" class="external-link"
                                        rel="nofollow">http://scrumbook.org/</a>
                                    which will help guide you into Agile and Scrum and  you may choose to followup with
                                    the appropriate learning path for you on
                                    <a href="http://www.scrum.org" class="external-link" rel="nofollow">Scrum.org</a>.
                                </span>
                            </p>
                            <h2 id="Scrum-WhyScrum?">
                                <span>Why Scrum?</span>
                            </h2>
                            <p><span>The biggest reason I can give for scrum follows what is called &quot;Conway's
                                    Law&quot;.</span></p>
                            <blockquote>
                                <p><span>“Any organization that designs a system will produce a design whose structure
                                        is a copy of the organization's communication structure.”</span></p>
                                <p><span>Melvin E. Conway (Conway’s Law)</span></p>
                            </blockquote>
                            <p><span>The thought is that your products will directly look like the communication and
                                    processes behind those products. If you look at this graphic depicting some of the
                                    most widely known product's communication structures you will immediately see the
                                    correlations to their respective product offerings.</span></p>
                            <p><span class="confluence-embedded-file-wrapper confluence-embedded-manual-size"><img
                                        class="confluence-embedded-image confluence-external-resource" height="400"
                                        src="http://scrumbook.org.datasenter.no/images/ConwaysLaw_Head.png"
                                        data-image-src="http://scrumbook.org.datasenter.no/images/ConwaysLaw_Head.png"></span>
                            </p>
                            <p>When we think about Get Well's mission, the goal is for a seamless, interconnected
                                patient journey that hits the right points of care for each and every patient. With this
                                in mind and thinking about Conway's Law, we are looking to build an internal
                                communication and process structure that is also interconnected, simple, and responsive.
                                This structure is what Scrum offers, a communicative, simple structure for providing
                                valuable software frequently.</p>
                            <p>There are a lot of things we already do so well and the goal of scrum is to bring to
                                light those things that are not going as well as we would like. The journey through
                                proper adoption of Scrum can be painful but the results can be seemingly miraculous. I
                                hope this guide I have pulled together over a year of self-study will be useful for
                                those who discover it! Please feel free to reach out at any time for questions,
                                suggestions and anything else Scrum related! </p>
                            <p><br /></p>
                            <h1 id="Scrum-KeyPoints"><span>Key Points</span></h1>
                            <ul>
                                <li><span>Goals of Process should always be to reduce waste and maximize value</span>
                                </li>
                                <li><span>Constant Collaboration should come from everyone</span></li>
                                <li><span>Shared knowledge and a culture of teaching and coaching is important to the
                                        success of Scrum</span></li>
                                <li><span>Agile requires that we show our teammates that we trust and respect them
                                        through giving them space to learn and make mistakes</span></li>
                                <li><span>Scrum and Agile is not just the job of the Scrum Master and Scrum team but the
                                        whole organization. We will run into roadblocks if this does not get
                                        addressed</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </main>
</body>

</html>