<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
						<h1>Intro to Product</h1>
                        <div id="main-content" class="wiki-content group">
							<p>This section is dedicated to notes from my studies for my PSPO Certification. There may be some overlap with other notes from my studies for my PSM1 Certification.</p>
							<p class="lead">
								Product Management - A method to communicating desires with minimum waste
							</p>
							<h3>Product Owner</h3>
							<p>
								The sole person accountable for bringing a product to life, from vision to creation.
								Product Owners who can excite, envision and cause the product to emerge while keeping in mind more traditional skills and industry knowledge are considered the professional
								Product Owner
							</p>
							<h3>Product Development Life Cycle (PDLC)</h3>
							<ul>
								<li>Creation - A vision begins to come to life</li>
								<li>Emergence - New Capabilities and functions appear as the product matures</li>
								<li>Maturity - The product is fully capable of it's intended purposes</li>
								<li>Senescence - The product begins to be eclipsed by newer, easier and more appealing products</li>
							</ul>
							<h3>Product Manager vs Project Manager</h3>
							<p>
								A project manager is someone skilled in managing task and people but not necessarily knowledgeable or passionate about the domain
								A project manager will only be marked as successful by the stickiness to the original plan - i.e. scope, time, budget. This however leaves out the value.

								Do our clients value a project or a product?

								Most likely, our clients and our organization will always prefer a product. This requires us to use a <strong>Product Mindset</strong>
								<h4>Product Mindset</h4>
								<ul>
									<li>More Frequent Releases for earlier feedback</li>
									<li>Communicates objectives instead of tasks</li>
									<li>Eliminates waste by depending less on task assignment, reporting and management decisions</li>
								</ul>
								<h4>Business Metrics</h4>
								<ul>
									<li>User Adoption/Retention</li>
									<li>Revenue</li>
									<li>Cost Savings per feature</li>
								</ul>
							</p>

							<p>
								<h3>Planning Layers</h3>
								<ul>
									<li>Company Vision</li>
									<li>Business Strategy</li>
									<li>Product Vision</li>
									<li>Product Strategy</li>
									<li>Release Plan</li>
									<li>Sprint Plan</li>
									<li>Daily Plan</li>
								</ul>
							</p>
						</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>