<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../../partials/scrum_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
						<h1>Intro to Product</h1>
                        <div id="main-content" class="wiki-content group">
							<h2>Planning in Product</h2>
							<p>
								<h3>Planning Layers</h3>
								<ul>
									<li>Company Vision - Owned by execs or CEO</li>
									<li>Business Strategy - Owned by execs or CEO</li>
									<li>Product Vision - Owned by Product</li>
									<li>Product Strategy - Owned by Product</li>
									<li>Release Plan - Owned by Product</li>
									<li>Sprint Plan - Owned by Developers</li>
									<li>Daily Plan - Owned by Developers</li>
								</ul>

								All the items for product in the planning layers are considered a gap called the "Product Management Vacuum"
								If we are not careful, these can get filled with meaningless busy work and detailed task management. 
								You can easily run the risk of being busy without a clear intention.

								Vacuums can cause
								<ul>
									<li>Disconnected development tteam from the business</li>
									<li>Less engagement from those on the ground</li>
									<li>More Reliance on project and task management</li>
									<li>More hierarchies and handoffs</li>
									<li>More complexity</li>
									<li>Difficulty to shift directions</li>
									<li>More "busy work"</li>
									<li>More waste and rework</li>
									<li>Less value delivered to clients</li>
								</ul>

								<p>To fill vacuums, we can use the 3 Vs, Value, Validation and Vision</p>
							</p>
						</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>