<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Alexandra S Cook</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

    <% include ../../partials/nav.ejs %>

    <main role="main">
        <section class="section about-section gray-bg" id="about">
            <div class="container">
                <div class="row flex-row" style="padding-top: 5rem;">
                    <div class="col-lg-2">
                        <% include ../../partials/product_sidebar.ejs %>
                    </div>
                    <div class="col-lg-10">
						<p class="lead">
							“Organizations, who design systems, are constrained to produce designs which are copies of the communication structures of these organizations.” 
							- Conway's law
						</p>
						<span class="confluence-embedded-file-wrapper confluence-embedded-manual-size"><img
							class="confluence-embedded-image confluence-external-resource" height="400"
							src="http://scrumbook.org.datasenter.no/images/ConwaysLaw_Head.png"
							data-image-src="http://scrumbook.org.datasenter.no/images/ConwaysLaw_Head.png"></span>
						<h2>What is our product?</h2>
						<p>What is the actual thing we are selling?</p>
						<p>Is this product viable? Will it be able to deliver value? Will we receive a ROI for this product?</p>
						<h2>Who are we building for?</h2>
						<p>When building a product we must always keep in mind the Who of the product. Who is buying and consuming the Product that we are creating?</p>
                        <p>Build, Measure and Learn. Fail fast, learn fast. We need to allow the team to feel safe to make mistakes and try new things (see <a href="/scrum/notes/organization#psychological_safety">Psychological Safety</a>)</p>
                        
                        <h3>Building teams</h3>
                        <p>
                            While it may seem good to split a product into teams by component this can cause silos of knowledge, dependency issues, inventing of work, bad quality, loss of focus and much more.
                        </p>
                        <p class="lead"><strong>Essential Complexity</strong> complexity inherent to the problem that cannot be reversed</p>
                        <p>When attempting to solve problems under this we may run into "good mistakes". Solving an essentially complex problem is what gives us competitive advantage and it is given that we may run into hypotheses that turn out to be incorrect.</p>
                        <p class="lead"><strong>Accidental Complexity</strong> the entanglement  of components or ideas that is not necessary for solving the problems</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>