<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Alexandra S Cook</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

	<% include ../../partials/nav.ejs %>

	<main role="main">
		<section class="section about-section gray-bg" id="about">
			<div class="container">
				<div class="row flex-row" style="padding-top: 5rem;">
					<div class="col-lg-2">
						<% include ../../partials/product_sidebar.ejs %>
					</div>
					<div class="col-lg-10">
						<div id="main-content" class="wiki-content group">
							<h2>Planning in Product</h2>
							<p>
								<h3>Planning Layers</h3>
								<ul>
									<li>Company Vision - Owned by execs or CEO</li>
									<li>Business Strategy - Owned by execs or CEO</li>
									<li>Product Vision - Owned by Product</li>
									<li>Product Strategy - Owned by Product</li>
									<li>Release Plan - Owned by Product</li>
									<li>Sprint Plan - Owned by Developers</li>
									<li>Daily Plan - Owned by Developers</li>
								</ul>

								All the items for product in the planning layers are considered a gap called the
								"Product Management Vacuum"
								If we are not careful, these can get filled with meaningless busy work and detailed task
								management.
								You can easily run the risk of being busy without a clear intention.

								Vacuums can cause
								<ul>
									<li>Disconnected development tteam from the business</li>
									<li>Less engagement from those on the ground</li>
									<li>More Reliance on project and task management</li>
									<li>More hierarchies and handoffs</li>
									<li>More complexity</li>
									<li>Difficulty to shift directions</li>
									<li>More "busy work"</li>
									<li>More waste and rework</li>
									<li>Less value delivered to clients</li>
								</ul>

								<p>To fill vacuums, we can use the 3 Vs, Value, Validation and Vision</p>

								<h2>Vision</h2>
								<p class="lead">
									A north star, a never-ending piece of work that we commit to going after for life -
									Ari Weinzweig
								</p>
								<p>
									Creates transparency for the team around the overall idea behind the product. By
									communicating our intent clearly we enable those around us to make informed
									decisions without our help.
									To enable this self-organization, a shared vision and clear boundaries are
									absolutely necessary. Your vision should represent the voice of your customeres,
									which will result in better value delivery and retention.
									Connecting the product vision to the company's vision can be extremely helpful is
									maintaining and gaining alignment.</p>
								<ul>
									<li>Inspiring</li>
									<li>Strategically sound</li>
									<li>Documented</li>
									<li>Communicated</li>
								</ul>
								<h2>Value</h2> 
								<p class="lead">
									If everything is important, then nothing is - Patrick Lencioni
								</p>
								<p></p>

								<h2>Validation</h2>
								<p class="lead">
									Validation causes <strong>Adaptation</strong>
								</p>
								<p>Most assumptions we make in business end up being wrong. The need to validate work
									will come at some point and by validating more frequently, we can help to minimize
									the overall risk we take in the PDLC.</p>
								<p>While we may receive some valdation during our Sprint Reviews, true validation can
									only come when the product begins to be used. This means that we need to have
									realistic plans in place for frequent releases to production to enable these
									validations.</p>

								<p>There are two core feedback loops in Scrum</p>
								<ul>
									<li>Process Validation - how the team is working</li>
									<li>Product Validation - what the team is building</li>
								</ul>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>

</html>