<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Alexandra S Cook</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

	<% include ../../partials/nav.ejs %>

	<main role="main">
		<section class="section about-section gray-bg" id="about">
			<div class="container">
				<div class="row flex-row" style="padding-top: 5rem;">
					<div class="col-lg-2">
						<% include ../../partials/product_sidebar.ejs %>
					</div>
					<div class="col-lg-10">
						<h1>Validation</h1>
						<h2 class="lead">Everyone has plans until they get punched in the face - Mike Tyson</h2>
						<p>How can we know we are actually providing the value we say we are? How do we know any of this is working?</p>
						<iframe src="https://giphy.com/embed/6uGhT1O4sxpi8" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
						<P>We need to find a way to ensure our initial <em>value hypothesis</em>. We can do this through stakeholder feedback</P>

						<h2>Stakeholder Feedback</h2>
						<p>It is critical to identify and communicate with all stakeholders for the beginning to ensure that the best possible product emerges</p>
						<h3>Sprint Reviews</h3>
						<p>
							One of the best ways to get feedback in Scrum is in the <a href="/scrum/events#review">Sprint Review</a> event. This event promotes
							Stakeholder Engagement, Course Correction and Accountability Creation.
						</p>
						
						<h2>Minimum Viable Product</h2>
						<h3>Kano Model</h3>
						<p>An approach to prioritizing features on a product roadmap based on the degree to which they are likely to satisfy customers</p>
						<img style="width:40em" src="https://www.productplan.com/uploads/2019/01/kano-model-diagram.svg">
						<ul>
							Feature Categories
							<li>Basic</li>
							<li>Performance</li>
							<li>Excitement</li>
						</ul>
						<h3>MVP Patterns</h3>
						<ul>
							<li>Promotional MVP</li>
							<ul><li>Videos, UI Mockups, viral campaigns, etc.</li></ul>
							<li>Mining MVP</li>
							<ul><li>surveys, proof of concepts, etc.</li></ul>
							<li>Landing Page MVP</li>
							<ul><li>Place to see progress and value of the product as is grows</li></ul>
							<li>Wizard of OZ MVP</li>
							<ul><li>Looks complete but needs work to get everything up</li></ul>
							<li>Single Feature MVP</li>
							<ul><li>Can't do much but you can play with it</li></ul>
						</ul>
						<h3>Pivot or Persevere</h3>
					</div>
				</div>
			</div>
			</div>
		</section>
	</main>
</body>

</html>