<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Alexandra S Cook</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

	<% include ../../partials/nav.ejs %>

	<main role="main">
		<section class="section about-section gray-bg" id="about">
			<div class="container">
				<div class="row flex-row" style="padding-top: 5rem;">
					<div class="col-lg-2">
						<% include ../../partials/product_sidebar.ejs %>
					</div>
					<div class="col-lg-10">
						<h1>Building Value</h1>
						<h2 class="lead">Value Delivery = Release = ROI</h2>
						<h3 class="lead">There is no good or bad information, only the current reality</h3>
						<p>
							By delivering value frequently through a consistent release schedule we can help to ensure a better Return on Investment for the product. 
							Since value is only received through releasing, this automatically will put a company using Scrum or agile methods at a higher likelihood for faster and larger ROI than companies using Waterfall. 
						</p>

						<h2>Value Metrics</h2>
						<p>Attaching incentives to any of these value metrics is dangerous and can cause metric tampering. </p>
						<h4><a href="/scrum/metrics">Development Metrics</a></h4>
						<ul>
							<li>Code Coverage</li>
							<li>Velocity</li>
							<li>Probabilistic Forecasting</li>
							<li>Burndown</li>
							<li>Burnup</li>
							<li>Code Complexity</li>
							<li>etc...</li>
						</ul>
						<h4>Owner Metrics</h4>
						<ul>
							<li>Revenue</li>
							<li>Costs</li>
							<li>Customer Satisfaction (NPS)</li>
							<li>Employee Satisfaction</li>
							<li>Lead & Cycle Time</li>
							<li>Innovation Rate</li>
							<li>Usage</li>
						</ul>
						<p>Using and identifying the metrics that mean the most to us can help lead us to <a href="/scrum/notes/ebm">Evidence-Based Management</a></p>
						<p>Combining the for KVMs is a powerful way to visualize where your money is not going.</p>

						<h2>Value Types</h2>
						<ul>
							<li>Positive</li>
							<ul>
								<li>Visible - New Features, Added Functionality</li>
								<li>Invisible - Architecture, Infrastructure, Design, Automation(CI/CDD)</li>
							</ul>
							<li>Negative Value - People are more likely to share negative experiences over positive ones</li>
							<ul>
								<li>Visible - Defects, System Down times, Performance, UX, Cost of Training</li>
								<li>Invisible - Tech Debt, Unused features, Code of Deployment</li>
							</ul>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</section>
	</main>
</body>

</html>