<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Alexandra S Cook</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/carousel.css" />


</head>

<body>

	<% include ../../partials/nav.ejs %>

	<main role="main">
		<section class="section about-section gray-bg" id="about">
			<div class="container">
				<div class="row flex-row" style="padding-top: 5rem;">
					<div class="col-lg-2">
						<% include ../../partials/product_sidebar.ejs %>
					</div>
					<div class="col-lg-10">
						<h1>Building a Vision</h1>
						<h2>Vision Building Tools</h2>
						<h3>Business Model Canvas</h3>
						<p>A tool to help create business models for a product that can help us get to a more clear
							vision for the product</p>
						<ul>
							<li>Customer Segments</li>
							<ul>
								<li>Who will get value from our product?</li>
							</ul>
							<li>Value Propositions</li>
							<ul>
								<li>What are our clients needs and how does our product address them?</li>
							</ul>
							<li>Channels</li>
							<ul>
								<li>How will we let people know about our Product?</li>
							</ul>
							<li>Customer Relationships</li>
							<ul>
								<li>How will we ensure retention and loyalty?</li>
							</ul>
							<li>Revenue Steams</li>
							<ul>
								<li>How do our value propositions generate revenue></li>
							</ul>
							<li>Key Activities</li>
							<ul>
								<li>What will we need to do to to turn our proposition into reality?</li>
							</ul>
							<li>Key Resources</li>
							<ul>
								<li>What do we need to do the activities we identified?</li>
							</ul>
							<li>Key Partners</li>
							<ul>
								<li>What partnerships will we need for the activities?</li>
							</ul>
							<li>Cost Structure</li>
							<ul>
								<li>What investments will we need to make?</li>
							</ul>
						</ul>
						<h3>Cereal Box</h3>
						<p>Pull out the arts and crafts, make a "cereal box" for your product selling the key benefits
							of your product</p>
						<h3>Elevator Pitch</h3>
						<p class="lead">For [target audience/customer] who [needs/wants] [Product] is a [market
							category] that [key benefit] unlike [competitor/issues] our product [competitive advantage]
						</p>
						<p>Fill in the above and then distill it down prom there into a brief vision statement</p>
						<h3>2 Brains</h3>
						<p>
							Make a 2X2 char with four squares, On one side write emotional and the other practical. The
							goal of this is to place a single vision in each square that fits low practical and low
							emotional, high emotional and low practical and, high practical and low emotional.
							These show help to inform the ideal, highly practical and highly emotional which are both
							fantastic for a motivating product vision
						</p>

						<h2>Vision Sharing in Scrum Events</h2>
						<ul>
							<li>Planning</li>
							<ul>
								<li>Remind team of vision. Think pre-meeting reflection quotes, etc</li>
							</ul>
							<li>Review</li>
							<ul>
								<li>Reinforce vision with Scrum Team and Stakeholders</li>
							</ul>
							<li>Retrospective</li>
							<ul>
								<li>How effective is our vision? Is it relevant, comfortable and actionable?</li>
							</ul>
						</ul>

						<h2>Gaining Alignment</h2>
						<h3>Business-IT Alignment</h3>
						<p>This type of alignment centers around the thought that products and initiatives, can sit in different areas</p>
						<img src="../images/strategic_alignment.png">
						<p>As illustrated in my poorly drawn diagram, you can see some of the objects, whose size represents Total Cost of Ownership or TCOs fit in differing areas between the strategic goals of Business and IT</p>
						<p>A lot of times, the goals and vision of the business can be misaligned with that of the business, it is the product owner's job to fix this misalignment and find the common ground illustrated in the top right</p>
					S</div>
				</div>
			</div>
			</div>
		</section>
	</main>
</body>

</html>